<div class="row">

	<div class="col-md-3">
		<h3>Data Controls</h3>
		<ul>
			<li>Chart(?)                   </li>
			<li><a href="/ControlSamples/DataList">DataList</a></li>
			<li>DataPager             </li>
			<li>DetailsView           </li>
			<li>FormView                </li>
			<li>GridView                </li>
			<li><a href="/ControlSamples/ListView">ListView</a></li>
			<li><a href="/ControlSamples/Repeater">Repeater</a></li>

		</ul>
	</div>

	<div class="col-md-3">
		<h3>Validation Controls</h3>
		<ul>

			<li>CompareValidator                                   </li>
			<li>CustomValidator                                      </li>
			<li>RangeValidator                                         </li>
			<li>RegularExpressionValidator(?)         </li>
			<li>RequiredFieldValidator                        </li>
			<li><a href="/ControlSamples/Validation">ValidationSummary </a>  </li>

		</ul>
	</div>

	<div class="col-md-3">
		<h3>Navigation Controls</h3>
		<ul>
			<li>Menu</li>
			<li>SiteMapPath</li>
			<li>TreeView</li>
		</ul>
	</div>

	<div class="col-md=3">
		<h3>Login Controls</h3>
		<ul>
		</ul>
	</div>

</div>
