<div class="row">

	<div class="col-md-3">
		<h3>Data Controls</h3>
		<ul>
			<li>Chart(?)                   </li>
			<li><a href="/ControlSamples/DataList">DataList</a></li>
			<li>DataPager             </li>
			<li>DetailsView           </li>
			<li>FormView                </li>
			<li>GridView                </li>
			<li><a href="/ControlSamples/ListView">ListView</a></li>
			<li><a href="/ControlSamples/Repeater">Repeater</a></li>

		</ul>
	</div>

	<div class="col-md-3">
		<h3>Validation Controls</h3>
		<ul>

			<li>CompareValidator                                   </li>
			<li><a href="/ControlSamples/CustomValidator">CustomValidator</a>                                      </li>
			<li>RangeValidator                                         </li>
			<li><a href="/ControlSamples/RegularExpressionValidator">RegularExpressionValidator(?)</a>         </li>
			<li><a href="/ControlSamples/RequiredFieldValidator">RequiredFieldValidator</a>                        </li>
			<li><a href="/ControlSamples/ValidationSummary">ValidationSummary </a>  </li>

		</ul>
	</div>

	<div class="col-md-3">
		<h3>Navigation Controls</h3>
		<ul>
			<li>Menu</li>
			<li>SiteMapPath</li>
			<li><a href="/ControlSamples/TreeView">TreeView</a></li>
		</ul>
	</div>

	<div class="col-md=3">
		<h3>Login Controls</h3>
		<ul>
			<li><a href="/ControlSamples/Login">Login</a></li>
			<li>ChangePassword</li>
			<li><a href="/ControlSamples/LoginName">LoginName</a></li>
			<li><a href="/ControlSamples/LoginStatusAuthenticated">LoginStatus - Authenticated</a></li>
			<li><a href="/ControlSamples/LoginStatusNotAuthenticated">LoginStatus - Not Authenticated</a></li>
			<li>LoginView</li>
			<li>PasswordRecovery</li>
		</ul>
	</div>
</div>
