@page "/ControlSamples/HyperLink"

<h2>HyperLink Component</h2>

<HyperLink NavigationUrl="https://www.github.com" Text="GitHub" />
<br />
<HyperLink NavigationUrl="https://www.github.com" Text="GitHub" Target="_blank" />
<br />
<HyperLink NavigationUrl="https://www.github.com" Text="GitHub" Target="_blank" ToolTip="GitHub (Social Coding)" />
<br />
<HyperLink NavigationUrl="https://www.github.com" Text="GitHub" Target="_blank" ToolTip="GitHub (Social Coding)" BackColor="WebColor.DimGray" ForeColor="WebColor.White" />
