@page "/ControlSamples/HyperLink"

<h2>HyperLink Component</h2>

<div data-audit-control="HyperLink-1">
    <HyperLink NavigateUrl="https://www.github.com" Text="GitHub" />
</div>
<br />
<div data-audit-control="HyperLink-2">
    <HyperLink NavigateUrl="https://www.github.com" Text="GitHub" Target="_blank" />
</div>
<br />
<div data-audit-control="HyperLink-3">
    <HyperLink NavigateUrl="https://www.github.com" Text="GitHub" Target="_blank" ToolTip="GitHub (Social Coding)" />
</div>
<br />
<div data-audit-control="HyperLink-4">
    <HyperLink NavigateUrl="https://www.github.com" Text="GitHub" Target="_blank" ToolTip="GitHub (Social Coding)" BackColor="WebColor.DimGray" ForeColor="WebColor.White" />
</div>

<hr />

<p>Code:</p>
<code>
&lt;HyperLink NavigateUrl="https://www.github.com" Text="GitHub" /&gt;<br />
&lt;HyperLink NavigateUrl="https://www.github.com" Text="GitHub" Target="_blank" /&gt;<br />
&lt;HyperLink NavigateUrl="https://www.github.com" Text="GitHub" Target="_blank" ToolTip="GitHub (Social Coding)" /&gt;<br />
&lt;HyperLink NavigateUrl="https://www.github.com" Text="GitHub" Target="_blank" ToolTip="GitHub (Social Coding)" BackColor="WebColor.DimGray" ForeColor="WebColor.White" /&gt;
</code>
