@page "/ControlSamples/HyperLink"

<h2>HyperLink Component</h2>

<div data-audit-control="HyperLink-1">
    <HyperLink NavigateUrl="https://bing.com" Text="Blue Button" BackColor="WebColor.Blue" ForeColor="WebColor.White" />
</div>
<br />
<div data-audit-control="HyperLink-2">
    <HyperLink NavigateUrl="https://bing.com" Text="Blue Button" ToolTip="Navigate to Bing!" />
</div>
<br />
<div data-audit-control="HyperLink-3">
    <HyperLink NavigateUrl="https://bing.com" Text="Blue Button" Visible="false" />
</div>
<br />
<div data-audit-control="HyperLink-4">
    <HyperLink NavigateUrl="https://bing.com" Text="Blue Button" />
</div>

<hr />

<p>Code:</p>
<code>
&lt;HyperLink NavigateUrl="https://bing.com" Text="Blue Button" BackColor="WebColor.Blue" ForeColor="WebColor.White" /&gt;<br />
&lt;HyperLink NavigateUrl="https://bing.com" Text="Blue Button" ToolTip="Navigate to Bing!" /&gt;<br />
&lt;HyperLink NavigateUrl="https://bing.com" Text="Blue Button" Visible="false" /&gt;<br />
&lt;HyperLink NavigateUrl="https://bing.com" Text="Blue Button" /&gt;
</code>
