@page "/ControlSamples/GridView/BindAttribute"

<h2>Bug159Example</h2>

<Nav />

<GridView ItemType="Customer"
					AutoGenerateColumns="false"
					DataKeyNames="CustomerID"
					SelectMethod="Customer.GetCustomers"
					EmptyDataText="No data available">
	<Columns>
		<BoundField ItemType="Customer" DataField="CustomerID" HeaderText="ID" />
		<BoundField ItemType="Customer" DataField="CompanyName" HeaderText="CompanyName" />
		<BoundField ItemType="Customer" DataField="FirstName" HeaderText="FirstName" />
		<BoundField ItemType="Customer" DataField="LastName" HeaderText="LastName" />
		<TemplateField ItemType="Customer">
			<ItemTemplate Context="Item">
				<input type="text" @bind="@Item.FirstName" />
			</ItemTemplate>
		</TemplateField>
		<HyperLinkField ItemType="Customer"
										DataTextFormatString="Search for {0}" DataTextField="CompanyName"
										DataNavigateUrlFields="CompanyName, FirstName, LastName" DataNavigateUrlFormatString="https://www.bing.com/search?q={0} {1} {2}" />
	</Columns>
</GridView>
