
@code {

	[Fact]
	public void HyperLink_WithTextAndNavigationUrl_RendersCorrectHtml()
	{
		// Arrange & Act
		var cut = Render(@<HyperLink Text="Go to Bing!!" NavigationUrl="https://www.bing.com" />);

		// Assert
		cut.MarkupMatches(@<a href="https://www.bing.com" target="">Go to Bing!!</a>);
	}

}
