@inherits BunitContext

@code {

	[Fact]
	public void GridView_TemplateFields_RendersTemplatesCorrectly()
	{
		var cut = Render(@<GridView SelectMethod="GetWidgets"
							AutoGenerateColumns="false"
							ItemType="SharedSampleObjects.Models.Widget">
			<Columns>
				<TemplateField ItemType="Widget" HeaderText="Name">
					<ItemTemplate Context="Item">
						<Label Text="@Item.Name"></Label>
					</ItemTemplate>
				</TemplateField>
				<TemplateField ItemType="Widget" HeaderText="Price">
					<ItemTemplate Context="Item">
						<Label ID="lblPrice" Text="@Item.Price.ToString()"></Label>
					</ItemTemplate>
				</TemplateField>
			</Columns>
		</GridView>);

		System.Diagnostics.Debug.Write(cut.Markup);
		var tableHeaders = cut.FindAll("th");
		tableHeaders[0].TextContent.ShouldBe("Name");
		tableHeaders[1].TextContent.ShouldBe("Price");
		tableHeaders.Count.ShouldBe(2, "Did not render 2 TH elements");
		cut.FindAll("tr").Count(e => e.InnerHtml.Contains("td")).ShouldBe(Widget.SimpleWidgetList.Length, $"Did not render {Widget.SimpleWidgetList.Length} TR elements");
		cut.FindAll("#lblPrice").Count().ShouldBe(Widget.SimpleWidgetList.Length, $"Rendered wrong number of price labels");
	}

	IQueryable<Widget> GetWidgets(int maxRows, int startRowIndex, string sortByExpression, out int totalRowCount)
	{
		totalRowCount = Widget.SimpleWidgetList.Length;
		return Widget.SimpleWidgetList.AsQueryable();
	}
}
