@inherits BunitContext




@code {

	[Fact]
public void Repeater_AlternatingItemTemplate_RendersCorrectCounts()
{
	var cut = Render(@<BlazorWebFormsComponents.Repeater Items="Widget.SimpleWidgetList" ItemType="Widget" Context="Item">
		<ItemTemplate><span>@Item.Name</span></ItemTemplate>
		<AlternatingItemTemplate><b>@Item.Name</b></AlternatingItemTemplate>
	</BlazorWebFormsComponents.Repeater>);
	cut.FindAll("span").Count().ShouldBe((int)Math.Ceiling(Widget.SimpleWidgetList.Length/2.0m));
	cut.FindAll("b").Count().ShouldBe((int)Math.Floor(Widget.SimpleWidgetList.Length/2.0m));
}


}
