@inherits TestComponentBase

<Fixture Test="FirstTest">
	<ComponentUnderTest>
		<BlazorWebFormsComponents.Repeater Items="Widget.SimpleWidgetList"
							ItemType="Widget"
							Context="Item">
			<ItemTemplate><span>@Item.Name</span></ItemTemplate>
			<AlternatingItemTemplate><b>@Item.Name</b></AlternatingItemTemplate>
		</BlazorWebFormsComponents.Repeater>
	</ComponentUnderTest>
</Fixture>


@code {

	void FirstTest()
	{

		var cut = GetComponentUnderTest();

		cut.FindAll("span").Count().ShouldBe(2);
		cut.FindAll("b").Count().ShouldBe(1);

	}


}