@inherits BunitContext




@code {

	[Fact]
public void Repeater_EmptyItems_RendersNoItems()
{
	var cut = Render(@<BlazorWebFormsComponents.Repeater Items="new Widget[] { }" ItemType="Widget" Context="Item">
		<ItemTemplate><span>@Item.Name</span></ItemTemplate>
	</BlazorWebFormsComponents.Repeater>);
	cut.FindAll("span").Count().ShouldBe(0);
}


}
