@inherits TestComponentBase

<Fixture Test="FirstTest">
	<ComponentUnderTest>
		<Repeater Items="Widget.SimpleWidgetList"
							ItemType="Widget"
							Context="Item">
			<ItemTemplate><span>@Item.Name</span></ItemTemplate>
			<SeparatorTemplate><hr/></SeparatorTemplate>
		</Repeater>
	</ComponentUnderTest>
</Fixture>


@code {

	void FirstTest()
	{

		var cut = GetComponentUnderTest();

		cut.FindAll("span").Count().ShouldBe(3);
		cut.FindAll("hr").Count().ShouldBe(3);

	}


}