@inherits TestComponentBase

<Fixture Tests="new Test[] { ItemTest, AlternatingItemTest }">
	<ComponentUnderTest>
		<Repeater Items="Widget.SimpleWidgetList"
							ItemType="Widget"
							Context="Item">
			<ItemTemplate><span>@Item.Name</span></ItemTemplate>
			<SeparatorTemplate><hr/></SeparatorTemplate>
		</Repeater>
	</ComponentUnderTest>
</Fixture>


@code {

	void ItemTest(IRazorTestContext context)
	{

		var cut = context.GetComponentUnderTest();

		cut.FindAll("span").Count().ShouldBe(Widget.SimpleWidgetList.Length);

	}

	void AlternatingItemTest(IRazorTestContext context)
	{

		var cut = context.GetComponentUnderTest();

		cut.FindAll("hr").Count().ShouldBe(Widget.SimpleWidgetList.Length);

	}


}
