@inherits BunitContext




@code {

	[Fact]
public void Repeater_SimpleList_RendersAllItemsAndSeparators()
{
	var cut = Render(@<Repeater Items="Widget.SimpleWidgetList" ItemType="Widget" Context="Item">
		<ItemTemplate><span>@Item.Name</span></ItemTemplate>
		<SeparatorTemplate><hr/></SeparatorTemplate>
	</Repeater>);
	cut.FindAll("span").Count().ShouldBe(Widget.SimpleWidgetList.Length);
	cut.FindAll("hr").Count().ShouldBe(Widget.SimpleWidgetList.Length);
}


}
