@inherits BunitContext




@code {

	[Fact]
public void Repeater_VisibleFalse_RendersNoItems()
{
	var cut = Render(@<BlazorWebFormsComponents.Repeater Items="Widget.SimpleWidgetList" Visible="false" ItemType="Widget" Context="Item">
		<ItemTemplate><span>@Item.Name</span></ItemTemplate>
		<SeparatorTemplate><hr/></SeparatorTemplate>
	</BlazorWebFormsComponents.Repeater>);
	cut.FindAll("span").Count().ShouldBe(0);
	cut.FindAll("hr").Count().ShouldBe(0);
}


}