@inherits TestComponentBase

<Fixture Test="FirstTest">
	<ComponentUnderTest>
		<BlazorWebFormsComponents.Repeater Items="Widget.SimpleWidgetList"
							Visible="false"
							ItemType="Widget"
							Context="Item">
			<ItemTemplate><span>@Item.Name</span></ItemTemplate>
			<SeparatorTemplate><hr/></SeparatorTemplate>
		</BlazorWebFormsComponents.Repeater>
	</ComponentUnderTest>
</Fixture>


@code {

	void FirstTest()
	{

		var cut = GetComponentUnderTest();

		cut.FindAll("span").Count().ShouldBe(0);
		cut.FindAll("hr").Count().ShouldBe(0);

	}


}