@inherits LayoutComponentBase
@* TODO(bwfc-master-page): Review head content extraction for App.razor *@

<!DOCTYPE html>
<html>
<head>
    <title>My Site</title>
    <link href="/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <form id="form1">
        <div class="container">
            @Body
        </div>
    </form>
</body>
</html>
