@page "/ControlSamples/Literal"

@using BlazorWebFormsComponents.Enums

<h2>Literal Component</h2>

<Literal Text="<b>Literal</b>"></Literal><br/>
<Literal Mode="LiteralMode.Encode" Text="<b>Literal</b>"></Literal>
