@page "/About"
<PageTitle>About</PageTitle>
<Site>
    <ChildComponents>
        <Content ContentPlaceHolderID="MainContent">
            <h2>@(Title).</h2>
            <h3>Your application description page.</h3>
            <p>Use this area to provide additional information.</p>
        </Content>
    </ChildComponents>
</Site>
