@page "/AddToCart"

<PageTitle>Add To Cart</PageTitle>

@if (_added)
{
    <p>Product added to cart. <a href="/ShoppingCart">View Cart</a></p>
}
else
{
    <p>Adding product to cart...</p>
}

@code {
    [Inject] private IDbContextFactory<Data.ProductContext> DbFactory { get; set; } = default!;
    [Inject] private CartStateService Cart { get; set; } = default!;
    [Inject] private NavigationManager Nav { get; set; } = default!;

    [SupplyParameterFromQuery(Name = "productID")] private int? ProductId { get; set; }

    private bool _added;

    protected override async Task OnInitializedAsync()
    {
        if (ProductId.HasValue)
        {
            using var db = DbFactory.CreateDbContext();
            var product = await db.Products.FindAsync(ProductId.Value);
            if (product != null)
            {
                Cart.AddItem(product);
                _added = true;
            }
        }
    }
}

