@page "/AddToCart"

<PageTitle>Add To Cart</PageTitle>
<Site>
    <Content ContentPlaceHolderID="MainContent">
        <h1>Add To Cart</h1>
        <p>If you are seeing this page directly, <a href="/ShoppingCart">view your cart</a>.</p>
    </Content>
</Site>
