@page "/AddToCart"
@page "/AddToCart.aspx"
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <WebFormsForm id="form1" @ref="form1">
    <div>
    
    </div>
    </WebFormsForm>
</body>
</html>
