@page "/ErrorPage"
<PageTitle>Error</PageTitle>
<Site>
    <ChildComponents>
        <Content ContentPlaceHolderID="MainContent">
            <h2>Error</h2>
            <p>A problem has occurred on this web site. Please try again.</p>
        </Content>
    </ChildComponents>
</Site>