@page "/ErrorPage"
<PageTitle>Error</PageTitle>
<Site>
    <ChildComponents>
        <Content ContentPlaceHolderID="MainContent">
            <h2>Error</h2>
            <h3>An error occurred while processing your request.</h3>
            <p>Please return to the home page and try again.</p>
        </Content>
    </ChildComponents>
</Site>