@page "/ErrorPage"
<PageTitle>Error</PageTitle>
<Site>
    <ChildComponents>
        <Content ContentPlaceHolderID="MainContent">
            <h2>Error</h2>
            <p>Something went wrong while processing your request.</p>
        </Content>
    </ChildComponents>
</Site>