@page "/ErrorPage"

<PageTitle>Error</PageTitle>
<Site>
    <Content ContentPlaceHolderID="MainContent">
        <h1>Error</h1>
        <p>The migrated sample encountered an unexpected error.</p>
    </Content>
</Site>
