@page "/ErrorPage"
<PageTitle>Error</PageTitle>

<h1>Error</h1>
<p class="text-danger">@FriendlyMessage</p>

@if (!string.IsNullOrWhiteSpace(Handler))
{
    <p><strong>Handler:</strong> @Handler</p>
}
