@page "/ErrorPage"
<PageTitle>Error</PageTitle>
<Site>
    <ChildComponents>
        <Content ContentPlaceHolderID="MainContent">
            <h2>Error</h2>
            <p>An unexpected error occurred.</p>
        </Content>
    </ChildComponents>
</Site>
