@page "/ProductDetails"
@page "/Product/{ProductName}"
<PageTitle>Product Details</PageTitle>

<FormView Items="Products" ItemType="Product" RenderOuterTable="false" EmptyDataText="Product not found.">
    <ItemTemplate Context="Item">
        <div>
            <h1>@Item.ProductName</h1>
        </div>
        <br />
        <table>
            <tr>
                <td>
                    <img src="/Catalog/Images/@Item.ImagePath" style="border:solid; height:300px" alt="@Item.ProductName" />
                </td>
                <td>&nbsp;</td>
                <td style="vertical-align: top; text-align:left;">
                    <b>Description:</b><br />@Item.Description
                    <br />
                    <span><b>Price:</b>&nbsp;@(string.Format("{0:c}", Item.UnitPrice))</span>
                    <br />
                    <span><b>Product Number:</b>&nbsp;@Item.ProductID</span>
                    <br /><br />
                    <a class="btn btn-primary" href="@($"/AddToCart?productId={Item.ProductID}")" data-enhance-nav="false">Add To Cart</a>
                </td>
            </tr>
        </table>
    </ItemTemplate>
</FormView>
