@page "/ProductDetails"

@if (product != null)
{
    <div>
        <h1>@product.ProductName</h1>
    </div>
    <br />
    <table>
        <tr>
            <td>
                <img src="/Catalog/Images/@product.ImagePath" style="border:solid; height:300px" alt="@product.ProductName" />
            </td>
            <td>&nbsp;</td>
            <td style="vertical-align: top; text-align:left;">
                <b>Description:</b><br />@product.Description
                <br />
                <span><b>Price:</b>&nbsp;@($"{product.UnitPrice:c}")</span>
                <br />
                <span><b>Product Number:</b>&nbsp;@product.ProductID</span>
                <br />
                <br />
                <a href="/AddToCart?productID=@product.ProductID">
                    <b>Add To Cart</b>
                </a>
            </td>
        </tr>
    </table>
}
else
{
    <p>Product not found.</p>
}

