@page "/ProductList"
<section>
    <div>
        <hgroup>
            <h2>Products</h2>
        </hgroup>

        @if (products != null)
        {
            <table style="width:100%;">
                <tbody>
                    @for (int i = 0; i < products.Count; i += 4)
                    {
                        <tr>
                            @for (int j = i; j < i + 4 && j < products.Count; j++)
                            {
                                var p = products[j];
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                <a href="/ProductDetails?ProductID=@p.ProductID">
                                                    <img src="/Catalog/Images/Thumbs/@p.ImagePath"
                                                         width="100" height="75" style="border:1px solid" alt="@p.ProductName" />
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="/ProductDetails?ProductID=@p.ProductID">
                                                    @p.ProductName
                                                </a>
                                                <br />
                                                <span>
                                                    <b>Price: </b>@($"{p.UnitPrice:c}")
                                                </span>
                                                <br />
                                                <a href="/AddToCart?productID=@p.ProductID">
                                                    <span class="ProductListItem">
                                                        <b>Add To Cart</b>
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </table>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <table>
                <tr>
                    <td>No data was returned.</td>
                </tr>
            </table>
        }
    </div>
</section>

