@page "/ProductDetails"

@if (_product != null)
{
    <div>
        <h1>@_product.ProductName</h1>
    </div>
    <br />
    <table>
        <tr>
            <td>
                <img src="/Catalog/Images/@_product.ImagePath" style="border:solid; height:300px" alt="@_product.ProductName"/>
            </td>
            <td>&nbsp;</td>
            <td style="vertical-align: top; text-align:left;">
                <b>Description:</b><br />@_product.Description
                <br />
                <span><b>Price:</b>&nbsp;@($"{_product.UnitPrice:c}")</span>
                <br />
                <span><b>Product Number:</b>&nbsp;@_product.ProductID</span>
                <br />
                <br />
                <a href="/AddToCart?productID=@_product.ProductID" data-enhance-nav="false"
                   onclick="window.location.href=this.href;return false;">
                    <b>Add To Cart</b>
                </a>
            </td>
        </tr>
    </table>
}
else
{
    <p>Product not found.</p>
}

@code {
    [Inject] private IDbContextFactory<ProductContext> DbFactory { get; set; } = default!;
    [SupplyParameterFromQuery(Name = "ProductID")] public int? ProductId { get; set; }

    private Product? _product;

    protected override async Task OnInitializedAsync()
    {
        Page.Title = "Product Details";
        if (ProductId.HasValue)
        {
            using var db = await DbFactory.CreateDbContextAsync();
            _product = await db.Products.FirstOrDefaultAsync(p => p.ProductID == ProductId.Value);
        }
    }
}

