@page "/ProductDetails"
@inject ProductContext Db

@if (_product != null)
{
    <div>
        <h1>@_product.ProductName</h1>
    </div>
    <br />
    <table>
        <tr>
            <td>
                <img src="/Catalog/Images/@_product.ImagePath" style="border:solid; height:300px" alt="@_product.ProductName" />
            </td>
            <td>&nbsp;</td>
            <td style="vertical-align: top; text-align:left;">
                <b>Description:</b><br />@_product.Description
                <br />
                <span><b>Price:</b>&nbsp;@($"{_product.UnitPrice:c}")</span>
                <br />
                <span><b>Product Number:</b>&nbsp;@_product.ProductID</span>
                <br />
            </td>
        </tr>
    </table>
}

@code {
    [SupplyParameterFromQuery(Name = "productID")]
    public int? ProductId { get; set; }

    private Product? _product;

    protected override void OnInitialized()
    {
        if (ProductId.HasValue && ProductId > 0)
        {
            _product = Db.Products.FirstOrDefault(p => p.ProductID == ProductId);
        }
    }
}

