@page "/ProductList"
<PageTitle>Products</PageTitle>

@if (!string.IsNullOrEmpty(Heading))
{
    <h2>@Heading</h2>
}

<div class="row">
    @foreach (var product in Products)
    {
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <a href="/ProductDetails?productID=@product.ProductID">
                    <img src="/Catalog/Images/Thumbs/@product.ImagePath" alt="@product.ProductName" />
                </a>
                <div class="caption">
                    <h4>
                        <a href="/ProductDetails?productID=@product.ProductID">@product.ProductName</a>
                    </h4>
                    <p><strong>Price:</strong> @($"{product.UnitPrice:c}")</p>
                    <p>
                        <a class="btn btn-default" href="/AddToCart?productID=@product.ProductID">Add To Cart</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>
