@page "/ProductList"
@page "/Category/{CategoryName}"
@inject ProductContext ProductContext

<PageTitle>Products</PageTitle>
<Site>
    <ChildComponents>
        <Content ContentPlaceHolderID="MainContent">
            <section>
                <div>
                    <hgroup>
                        <h2>@CurrentTitle</h2>
                    </hgroup>

                    <ListView Items="Products" ItemType="Product" GroupItemCount="4">
                        <EmptyDataTemplate>
                            <table>
                                <tr>
                                    <td>No data was returned.</td>
                                </tr>
                            </table>
                        </EmptyDataTemplate>
                        <EmptyItemTemplate>
                            <td />
                        </EmptyItemTemplate>
                        <GroupTemplate Context="items">
                            <tr id="itemPlaceholderContainer">
                                @items
                            </tr>
                        </GroupTemplate>
                        <ItemTemplate Context="Item">
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <a href="/ProductDetails/@Item.ProductID">
                                                <img src="/Catalog/Images/Thumbs/@Item.ImagePath" width="100" height="75" border="1" alt="@Item.ProductName" />
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="/ProductDetails/@Item.ProductID">@Item.ProductName</a>
                                            <br />
                                            <span>
                                                <b>Price: </b>@string.Format("{0:c}", Item.UnitPrice)
                                            </span>
                                            <br />
                                            <a href="/AddToCart?ProductID=@Item.ProductID">
                                                <span class="ProductListItem">
                                                    <b>Add To Cart</b>
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                    </tr>
                                </table>
                            </td>
                        </ItemTemplate>
                        <LayoutTemplate Context="groups">
                            <table style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <table id="groupPlaceholderContainer" style="width:100%">
                                                @groups
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </LayoutTemplate>
                    </ListView>
                </div>
            </section>
        </Content>
    </ChildComponents>
</Site>

@code {
    [Parameter, SupplyParameterFromQuery(Name = "id")]
    public int? CategoryId { get; set; }

    [Parameter]
    public string? CategoryName { get; set; }

    private List<Product> Products { get; set; } = [];

    private string CurrentTitle { get; set; } = "Products";

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        var query = ProductContext.Products.AsQueryable();
        if (CategoryId.HasValue && CategoryId > 0)
        {
            query = query.Where(p => p.CategoryID == CategoryId);
        }

        if (!string.IsNullOrWhiteSpace(CategoryName))
        {
            query = query.Where(p => p.Category != null && p.Category.CategoryName == CategoryName);
            CurrentTitle = CategoryName;
        }
        else
        {
            CurrentTitle = "Products";
        }

        Products = await Task.FromResult(query.OrderBy(p => p.ProductName).ToList());
    }
}
