@page "/ProductDetails"
@page "/Product/{ProductName}"
@using WingtipToys.Services
@inject ProductCatalogService Catalog

<PageTitle>Product Details</PageTitle>
<Site>
    <ChildComponents>
        <Content ContentPlaceHolderID="MainContent">
            <FormView ItemType="Product" Items="@ProductItems" RenderOuterTable="false" Context="Item">
                <ItemTemplate>
                    <div>
                        <h1>@Item.ProductName</h1>
                    </div>
                    <br />
                    <table>
                        <tr>
                            <td>
                                <img src="/Catalog/Images/@Item.ImagePath" style="border:solid; height:300px" alt="@Item.ProductName" />
                            </td>
                            <td>&nbsp;</td>
                            <td style="vertical-align: top; text-align:left;">
                                <b>Description:</b><br />@Item.Description
                                <br />
                                <span><b>Price:</b>&nbsp;@(String.Format("{0:c}", Item.UnitPrice))</span>
                                <br />
                                <span><b>Product Number:</b>&nbsp;@Item.ProductID</span>
                                <br />
                                <br />
                                <a href="/AddToCart?productID=@Item.ProductID" class="btn btn-primary">Add To Cart</a>
                            </td>
                        </tr>
                    </table>
                </ItemTemplate>
            </FormView>

            @if (ProductItems.Count == 0)
            {
                <p>Product not found.</p>
            }
        </Content>
    </ChildComponents>
</Site>

@code {
    [Parameter, SupplyParameterFromQuery(Name = "ProductID")]
    public int? ProductId { get; set; }

    [Parameter]
    public string? ProductName { get; set; }

    private IReadOnlyList<Product> ProductItems { get; set; } = [];

    protected override void OnParametersSet()
    {
        var product = Catalog.GetProduct(ProductId, ProductName);
        ProductItems = product is null ? [] : [product];
        Title = product?.ProductName ?? "Product Details";
        base.OnParametersSet();
    }
}