@page "/ShoppingCart"
@inherits BlazorWebFormsComponents.WebFormsPageBase
<PageTitle>Shopping Cart</PageTitle>

<section>
    <h1>Shopping Cart</h1>
    <WebFormsForm>
        <GridView ItemType="WingtipToys.Models.CartItem"
                  Items="cartItems"
                  AutoGenerateColumns="false"
                  EmptyDataText="Your shopping cart is empty.">
            <Columns>
                <BoundField ItemType="WingtipToys.Models.CartItem" DataField="Product.ProductName" HeaderText="Product" />
                <BoundField ItemType="WingtipToys.Models.CartItem" DataField="Product.UnitPrice" HeaderText="Price" DataFormatString="{0:c}" />
                <BoundField ItemType="WingtipToys.Models.CartItem" DataField="Quantity" HeaderText="Quantity" />
                <TemplateField HeaderText="Total">
                    <ItemTemplate Context="item">
                        @(String.Format("{0:c}", (item.Product?.UnitPrice ?? 0d) * item.Quantity))
                    </ItemTemplate>
                </TemplateField>
                <TemplateField HeaderText="">
                    <ItemTemplate Context="item">
                        <a href="/RemoveItem?cartItemId=@item.ItemId" data-enhance-nav="false">Remove</a>
                    </ItemTemplate>
                </TemplateField>
            </Columns>
        </GridView>
        <div>
            <p></p>
            <strong>
                <span>Total: </span>
                <span>@(String.Format("{0:c}", cartTotal))</span>
            </strong>
        </div>
    </WebFormsForm>
</section>
