@page "/ShoppingCart"
<PageTitle>Shopping Cart</PageTitle>

    <div id="ShoppingCartTitle" class="ContentHead"><h1>Shopping Cart</h1></div>
    <GridView TItem="CartItem" Items="cartItems" AutoGenerateColumns="false" ShowFooter="true" GridLines="@GridLines.Vertical" CellPadding="4"
        CssClass="table table-striped table-bordered" >   
        <Columns>
        <BoundField TItem="CartItem" DataField="ProductID" HeaderText="ID" SortExpression="ProductID" />        
        <BoundField TItem="CartItem" DataField="Product.ProductName" HeaderText="Name" />        
        <BoundField TItem="CartItem" DataField="Product.UnitPrice" HeaderText="Price (each)" DataFormatString="{0:c}"/>     
        <TemplateField TItem="CartItem" HeaderText="Quantity">            
                <ItemTemplate Context="Item">
                    <input type="number" style="width:40px" value="@Item.Quantity" /> 
                </ItemTemplate>        
        </TemplateField>    
        <TemplateField TItem="CartItem" HeaderText="Item Total">            
                <ItemTemplate Context="Item">
                    @(String.Format("{0:c}", ((Convert.ToDouble(Item.Quantity)) *  Convert.ToDouble(Item.Product.UnitPrice))))
                </ItemTemplate>        
        </TemplateField> 
        <TemplateField TItem="CartItem" HeaderText="Remove Item">            
                <ItemTemplate Context="Item">
                    <input type="checkbox" />
                </ItemTemplate>        
        </TemplateField>    
        </Columns>    
    </GridView>
    <div>
        <p></p>
        <strong>
            <span>Order Total: </span>
            <span>@orderTotal.ToString("c")</span>
        </strong> 
    </div>
    <br />
    <table> 
    <tr>
      <td>
        <Button Text="Update" OnClick="UpdateBtn_Click" />
      </td>
      <td>
        <ImageButton
                      ImageUrl="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" 
                      Width="145" AlternateText="Check out with PayPal" 
                      OnClick="CheckoutBtn_Click" 
                      BorderWidth="0" />
      </td>
    </tr>
    </table>
