@inherits LayoutComponentBase
@* TODO(bwfc-master-page): Review head content extraction for App.razor *@

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Body
</head>
<body>
    <form id="form1">
    <div>
        <h1>Mobile Master Page</h1>
        @Body
        <section class="content-wrapper main-content clear-fix">
            @Body
        </section>
        <friendlyUrls:ViewSwitcher />
    </div>
    </form>
</body>
</html>
