<MasterPage>
    <Head>
        <meta name="viewport" content="width=device-width" />
    </Head>
    <ChildContent>
        <section class="content-wrapper main-content clear-fix">
            <ContentPlaceHolder ID="MainContent" />
        </section>
    </ChildContent>
    <ChildComponents>
        @ChildComponents
    </ChildComponents>
</MasterPage>

@code {
    [Parameter]
    public RenderFragment? ChildComponents { get; set; }
}
