<Site>
    <Content ContentPlaceHolderID="MainContent">
        <h1>Mobile View</h1>
        <p>The mobile-specific master page is not implemented in this migrated benchmark sample.</p>
    </Content>
</Site>
