@using Microsoft.EntityFrameworkCore
@inject ProductContext Db

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Wingtip Toys</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/About">About</a></li>
                <li><a href="/Contact">Contact</a></li>
                <li><a href="/ProductList">Products</a></li>
                <li><a href="/ShoppingCart">Cart</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="TitleContent" style="text-align: center; margin-top: 70px;">
    <a href="/">
        <img src="/Images/logo.jpg" alt="Wingtip Toys" />
    </a>
    <br />
</div>

@if (categories.Count > 0)
{
    <div id="CategoryMenu" style="text-align: center">
        <ListView Items="categories" ItemType="Category">
            <ItemTemplate Context="Item">
                <b style="font-size: large; font-style: normal">
                    <a href="@($"/ProductList?id={Item.CategoryID}")">@Item.CategoryName</a>
                </b>
            </ItemTemplate>
            <ItemSeparatorTemplate> | </ItemSeparatorTemplate>
        </ListView>
    </div>
}

<div class="container body-content">
    @ChildComponents
    <hr />
    <footer>
        <p>&copy; 2013 - Wingtip Toys</p>
    </footer>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildComponents { get; set; }

    private List<Category> categories = new();

    protected override async Task OnInitializedAsync()
    {
        categories = await Db.Categories
            .OrderBy(category => category.CategoryName)
            .ToListAsync();
    }
}
