@inherits TestComponentBase

<Fixture
	Test="FirstTest"
>
<ComponentUnderTest>
	<ListView Items="Widget.SimpleWidgetList"
						ItemType="Widget"
						Context="Item">
		<ItemTemplate><span>@Item.Name</span></ItemTemplate>
		<AlternatingItemTemplate><b>@Item.Name</b></AlternatingItemTemplate>
	</ListView>
</ComponentUnderTest>
</Fixture>


@code {

	void FirstTest(IRazorTestContext context)
	{

		var cut = context.GetComponentUnderTest();

		var itemCountShouldBe = (int)Math.Ceiling(Widget.SimpleWidgetList.Length / 2.0m);
		var alternatingCountShouldBe = Widget.SimpleWidgetList.Length - itemCountShouldBe;

		cut.FindAll("span").Count().ShouldBe(itemCountShouldBe, $"Did not render {itemCountShouldBe} SPAN elements");
		cut.FindAll("b").Count().ShouldBe(alternatingCountShouldBe, $"Did not render {alternatingCountShouldBe} B element");

	}


}
