
@code {

	int databinding = 0;
	int databound = 0;
	int itemDatabound = 0;

	[Fact]
	public void ListView_DataBindingEvents_FiresAllEvents()
	{
		var cut = Render(@<ListView Items="Widget.SimpleWidgetList"
						ItemType="Widget"
						OnDataBinding="DataBinding"
						OnDataBound="DataBound"
						OnItemDataBound="ItemDataBound"
						Context="Item">
			<ItemTemplate><span>@Item.Name</span></ItemTemplate>
		</ListView>);

		databinding.ShouldBeGreaterThan(0);
		databound.ShouldBeGreaterThan(0);
		itemDatabound.ShouldBeGreaterThanOrEqualTo(Widget.SimpleWidgetList.Length);

		cut.FindAll("span").Count().ShouldBe(Widget.SimpleWidgetList.Length);
	}

	void DataBinding(EventArgs args) {
		databinding++;
	}

	void DataBound(EventArgs args) {
		databound++;
	}

	void ItemDataBound(ListViewItemEventArgs args) {
		itemDatabound++;
	}
}
