
@code {

	[Fact]
	public void ListView_LayoutTemplate_RendersLayoutWithItems()
	{
		var cut = Render(@<ListView Items="Widget.SimpleWidgetList"
						ItemType="Widget"
						Context="Item">
			<ItemTemplate><span>@Item.Name</span></ItemTemplate>
			<LayoutTemplate Context="itemPlaceholder">
				<div>
					<b>Header</b>
					<br/>
					@itemPlaceholder
				</div>
			</LayoutTemplate>
		</ListView>);

		cut.FindAll("span").Count().ShouldBe(Widget.SimpleWidgetList.Length);
		cut.FindAll("div").Count().ShouldBe(1);
		cut.FindAll("b").Count().ShouldBe(1);
	}
}
