
@code {

	[Fact]
	public void ListView_SelectMethod_RendersItemsFromMethod()
	{
		var cut = Render(@<ListView SelectMethod="GetWidgets"
						ItemType="Widget"
						Context="Item">
			<ItemTemplate><span>@Item.Name</span></ItemTemplate>
		</ListView>);

		System.Diagnostics.Debug.WriteLine(cut.Markup);
		cut.FindAll("span").Count().ShouldBe(Widget.SimpleWidgetList.Length);
	}

	IQueryable<Widget> GetWidgets(int maxRows, int startRowIndex, string sortByExpression, out int totalRowCount)
	{
		totalRowCount = Widget.SimpleWidgetList.Length;
		return Widget.SimpleWidgetList.AsQueryable();
	}
}
