@inherits BunitContext

@code {

	[Fact]
	public void ListView_SimpleList_RendersAllItems()
	{
		var cut = Render(@<ListView Items="Widget.SimpleWidgetList"
						ItemType="Widget"
						Context="Item">
			<ItemTemplate><span>@Item.Name</span></ItemTemplate>
		</ListView>);

		cut.FindAll("span").Count().ShouldBe(Widget.SimpleWidgetList.Length);
	}
}
