@inherits TestComponentBase

<Fixture
	TestAsync="FirstTest" 
>
<ComponentUnderTest>
	<ListView Items="Widget.SimpleWidgetList" @ref="theListView"
						ItemType="Widget"
						OnInit="Init"
						OnLoad="Load"
						OnPreRender="PreRender"
						OnUnload="Unload"
						OnDisposed="MyDispose"
						Context="Item">
		<ItemTemplate><span>@Item.Name</span></ItemTemplate>
	</ListView>
</ComponentUnderTest>
</Fixture>


@code {

	ListView<Widget> theListView;

	int initialized = 0;
	int loaded = 0;
	int preRendered = 0;
	int unloaded = 0;

	bool disposed = false;

	async Task FirstTest()
	{

		var cut = GetComponentUnderTest();

		initialized.ShouldBe(1);
		loaded.ShouldBe(1);
		preRendered.ShouldBe(1);
		unloaded.ShouldBe(1);

		cut.FindAll("span").Count().ShouldBe(3);

		await theListView.DisposeAsync();

		disposed.ShouldBeTrue();

	}

	void Init(EventArgs args)
	{
		initialized++;
	}

	void Load(EventArgs args)
	{
		loaded++;
	}

	void PreRender(EventArgs args)
	{
		preRendered++;
	}

	void Unload(EventArgs args)
	{
		unloaded++;
	}

	void MyDispose(EventArgs args) {
		disposed = true;
	}


}
