


@code {

	public Repeater<Widget> MyRepeater { get; set; }
	int randomNumber;
	const string ViewStateKey = "RandomNumber";

	void Setup()
{
	randomNumber = new Random().Next(100, 1000000);
}

	void OnRepeaterInit(EventArgs args)
	{
		MyRepeater.ViewState.Add(ViewStateKey, randomNumber);
	}

	[Fact]
public void Repeater_ViewState_PersistsRandomNumber()
{
	Setup();
	var cut = Render(@<Repeater @ref="MyRepeater" Items="Widget.SimpleWidgetList" ItemType="Widget" OnUnload="OnRepeaterInit" Context="Item">
		<ItemTemplate><span>@Item.Name</span></ItemTemplate>
		<SeparatorTemplate><hr /></SeparatorTemplate>
	</Repeater>);
	MyRepeater.ViewState[ViewStateKey].ShouldBe(randomNumber);
}

}
