@page "/ControlSamples/ListView/LayoutTest"

<h2>ListView Component homepage</h2>

<Nav />

<p>Testing a layout for the ListView</p>

		<ListView @ref="simpleListView"
							runat="server"
							EnableViewState="false"
							Context="Item"
							ItemPlaceholderID="foo"
							ItemType="SharedSampleObjects.Models.Widget">
			<ItemTemplate>
				<tr>
					<td>@Item.Id</td>
					<td>@Item.Name</td>
					<td>@Item.Price.ToString("c")</td>
					<td>@Item.LastUpdate.ToString("d")</td>
				</tr>
			</ItemTemplate>
			<ChildContent>
				<LayoutTemplate>
				<b>CHILD CONTENTS!</b><br/>@**
					<table class="table" id="robert">
						<thead>
							<tr>
								<td>Id</td>
								<td>Name</td>
								<td>Price</td>
								<td>Last Update</td>
							</tr>
						</thead>
						<tbody>
							<tr id="foo"></tr>
						</tbody>
					</table>  **@
				</LayoutTemplate> 
			</ChildContent>
		</ListView>

@code {

	BlazorWebFormsComponents.ListView<Widget> simpleListView { get; set; }

	protected override void OnAfterRender(bool firstRender)
	{

		if (firstRender)
		{
			simpleListView.DataSource = Widget.SimpleWidgetList;
			simpleListView.DataBind();
		}

		//base.OnParametersSet();
		base.OnAfterRender(firstRender);

	}

}

