<div>
	Other usage samples:
	<NavLink href="/ControlSamples/ListView" class="component-link" Match="NavLinkMatch.All">Simple List View </NavLink> |
	<NavLink href="./ControlSamples/ListView/ModelBinding" class="component-link" Match="NavLinkMatch.All">ModelBinding Sample</NavLink>
	<NavLink href="./ControlSamples/ListView/LayoutTest" class="component-link" Match="NavLinkMatch.All">Layout Test</NavLink>
</div>
