<div class="row">
	<div class="col-md-3">
		<h3>Editor Controls</h3>
		<ul>
			<li><a href="/ControlSamples/AdRotator">AdRotator</a></li>
			<li><a href="/ControlSamples/BulletedList">BulletedList</a></li>
			<li><a href="/ControlSamples/Button">Button</a></li>
			<li><a href="/ControlSamples/Calendar">Calendar</a></li>
			<li><a href="/ControlSamples/CheckBox">CheckBox</a></li>
			<li><a href="/ControlSamples/DropDownList">DropDownList</a></li>
			<li><a href="/ControlSamples/FileUpload">FileUpload</a></li>
			<li><a href="/ControlSamples/HiddenField">HiddenField</a></li>
			<li><a href="/ControlSamples/HyperLink">HyperLink</a></li>
			<li><a href="/ControlSamples/Image">Image</a></li>
			<li><a href="/ControlSamples/LinkButton">LinkButton</a></li>
			<li><a href="/ControlSamples/Literal">Literal</a></li>
			<li><a href="/ControlSamples/Localize">Localize</a></li>
			<li><a href="/ControlSamples/MultiView">MultiView</a></li>
			<li><a href="/ControlSamples/Panel">Panel</a></li>
			<li><a href="/ControlSamples/PlaceHolder">PlaceHolder</a></li>
			<li><a href="/ControlSamples/RadioButton">RadioButton</a></li>
			<li><a href="/ControlSamples/RadioButtonList">RadioButtonList</a></li>
			<li><a href="/ControlSamples/Table">Table</a></li>
			<li><a href="/ControlSamples/TextBox">TextBox</a></li>
		</ul>
	</div>

	<div class="col-md-3">
		<h3>Data Controls</h3>
		<ul>
			<li>Chart(?)                   </li>
			<li><a href="/ControlSamples/DataGrid">DataGrid</a></li>
			<li><a href="/ControlSamples/DataList">DataList</a></li>
			<li>DataPager             </li>
			<li><a href="/ControlSamples/DetailsView">DetailsView</a></li>
			<li><a href="/ControlSamples/FormView/Simple">FormView</a></li>
			<li><a href="/ControlSamples/GridView">GridView</a></li>
			<li><a href="/ControlSamples/ListView">ListView</a></li>
			<li><a href="/ControlSamples/Repeater">Repeater</a></li>

		</ul>
	</div>

	<div class="col-md-3">
		<h3>Validation Controls</h3>
		<ul>
			<li><a href="/ControlSamples/CompareValidator">CompareValidator</a></li>
			<li><a href="/ControlSamples/CustomValidator">CustomValidator</a></li>
			<li><a href="/ControlSamples/RangeValidator">RangeValidator</a></li>
			<li><a href="/ControlSamples/RegularExpressionValidator">RegularExpressionValidator(?)</a></li>
			<li><a href="/ControlSamples/RequiredFieldValidator">RequiredFieldValidator</a></li>
			<li><a href="/ControlSamples/ValidationSummary">ValidationSummary</a></li>
		</ul>
	</div>

	<div class="col-md-3">
		<h3>Navigation Controls</h3>
		<ul>
			<li><a href="/ControlSamples/HyperLink">HyperLink</a></li>
			<li><a href="/ControlSamples/ImageMap">ImageMap</a></li>
			<li><a href="/ControlSamples/Menu">Menu</a></li>
			<li><a href="/ControlSamples/SiteMapPath">SiteMapPath</a></li>
			<li><a href="/ControlSamples/TreeView">TreeView</a></li>
		</ul>
	</div>

	<div class="col-md=3">
		<h3>Login Controls</h3>
		<ul>
			<li><a href="/ControlSamples/ChangePassword">ChangePassword</a></li>
			<li><a href="/ControlSamples/CreateUserWizard">CreateUserWizard</a></li>
			<li><a href="/ControlSamples/Login">Login</a></li>
			<li><a href="/ControlSamples/LoginName">LoginName</a></li>
			<li><a href="/ControlSamples/LoginStatusAuthenticated">LoginStatus - Authenticated</a></li>
			<li><a href="/ControlSamples/LoginStatusNotAuthenticated">LoginStatus - Not Authenticated</a></li>
			<li>LoginView</li>
			<li><a href="/ControlSamples/PasswordRecovery">PasswordRecovery</a></li>
		</ul>
	</div>

	<div class="col-md-3">
		<h3>Utility Features</h3>
		<ul>
			<li><a href="/ControlSamples/DataBinder">DataBinder</a></li>
			<li><a href="/ControlSamples/IDRendering">ID Rendering</a></li>
			<li><a href="/UtilityFeatures/PageService">PageService</a></li>
			<li><a href="/ControlSamples/ViewState">ViewState</a></li>
		</ul>
	</div>
</div>
