@page "/About"
<HeadContent>
     <link href="CSS/CSS_About.css" rel="stylesheet" />
</HeadContent>
<div id="header">
    <h1> Students Body Statistics </h1>
</div>
<div id="grv">
    <GridView ItemType="EnrollmentStat" CssClass="grid"
        SelectMethod="@GetEnrollmentData"
        AutoGenerateColumns="false" EmptyDataText="There are no records to display"
        CellPadding="4" GridLines="@("None")">
        <Columns>
            <BoundField ItemType="EnrollmentStat" DataField="Key" HeaderText="Enrollment Date" ReadOnly="true" />
            <BoundField ItemType="EnrollmentStat" DataField="Value" HeaderText="Students" ReadOnly="true" />
        </Columns>
        <HeaderStyleContent>
            <GridViewHeaderStyle BackColor="WebColor.SteelBlue" Font_Bold="true" ForeColor="WebColor.White" />
        </HeaderStyleContent>
        <RowStyleContent>
            <GridViewRowStyle BackColor="WebColor.WhiteSmoke" />
        </RowStyleContent>
        <AlternatingRowStyleContent>
            <GridViewAlternatingRowStyle BackColor="WebColor.White" />
        </AlternatingRowStyleContent>
    </GridView>
</div>
