@page "/Courses"
<HeadContent>
    <link href="/CSS/CSS_Courses.css" rel="stylesheet" />
</HeadContent>
            <div id="dropList">
                <h1 id="hdrCourse">Select Course</h1>
                <DropDownList ItemType="string" ID="drpDepartments" Items="@(_departments ?? new())" @bind-SelectedValue="_selectedDepartment" />
                <Button ID="btnSearchCourse" Text="Search Courses" OnClick="HandleSearchCourse" />
                <br />
                <br />
                <GridView ItemType="ContosoUniversity.Models.Cours" ID="grvCourses" AllowPaging="true" DataKeyNames="CourseID"
                    PageSize="1" AutoGenerateColumns="false"
                    Items="@(_courses ?? new())"
                    EmptyDataText="Chose Department To Display Courses">
                    <Columns>
                        <BoundField ItemType="ContosoUniversity.Models.Cours" DataField="CourseID" HeaderText="ID" />
                        <BoundField ItemType="ContosoUniversity.Models.Cours" DataField="CourseName" HeaderText="Course Name" />
                        <BoundField ItemType="ContosoUniversity.Models.Cours" DataField="StudentsMax" HeaderText="Max Capacity" />
                    </Columns>
                </GridView>
            </div>
            <div id="autoComplete">
                <h1 id="crsByName">Courses By Name</h1>
                <TextBox ID="txtCourse" @bind-Text="_searchCourseName" placeholder="Search Course..." />
                <Button ID="search" Text="Search" OnClick="HandleSearchByName" />
                <br />
                <br />
                <DetailsView ItemType="ContosoUniversity.Models.Cours" ID="dtlCourses" Width="125" Height="50" CssClass="details"
                    Items="@(_courseDetails ?? new())" AutoGenerateRows="true">
                </DetailsView>
            </div>


