@page "/Courses"
<WebFormsForm @formname="CoursesForm">
    <AntiforgeryToken />
<PageTitle></PageTitle>

    <link href="CSS/CSS_Courses.css" rel="stylesheet" />
    <script src="JQuery/JQuery_Courses.js"></script>


     <ScriptManager></ScriptManager>
    <UpdatePanel>
        
            <div id="dropList">
                <h1 id="hdrCourse">Select Course</h1>
                <DropDownList ItemType="object" id="drpDepartments" @ref="drpDepartments"></DropDownList>
                <Button id="btnSearchCourse" @ref="btnSearchCourse" Text="Search Courses" OnClick="@btnSearchCourse_Click"></Button>
                <br />
                <br />
                <GridView ItemType="object" id="grvCourses" @ref="grvCourses" AllowPaging="true" DataKeyNames="CourseID"
                    PageSize="1" AutoGenerateColumns="false"
                    OnPageIndexChanging="@grvCourses_PageIndexChanging"
                    EmptyDataText = "Chose Department To Display Courses">
                    <Columns>
                        <BoundField ItemType="object" DataField="CourseID" HeaderText="ID" />
                        <BoundField ItemType="object" DataField="CourseName" HeaderText="Course Name" />
                        <BoundField ItemType="object" DataField="StudentsMax" HeaderText="Max Capacity" />
                    </Columns>
                </GridView>
            </div>
            <div id="autoComplete">
                <h1 id="crsByName">Courses By Name</h1>
                <TextBox id="txtCourse" @ref="txtCourse" placeholder="Search Course..."></TextBox>
                <Button id="search" @ref="search" Text="Search" OnClick="@search_Click"></Button>
                <br />
                <br />
                <AutoCompleteExtender
                    id="AutoCompleteExtender1" @ref="AutoCompleteExtender1"
                    TargetControlID="txtCourse"
                    ServiceMethod="GetList"
                    MinimumPrefixLength="1"
                    CompletionInterval="100"
                    EnableCaching="true"
                    CompletionSetCount="20"
                    ShowOnlyCurrentWordInCompletionListItem="true">
                </AutoCompleteExtender>
                <DetailsView ItemType="object" id="dtlCourses" @ref="dtlCourses" Width="125" Height="50" CssClass="details">
                </DetailsView>
                 
    </div></UpdatePanel>
























</WebFormsForm>
