@page "/Instructors"
@inherits BlazorWebFormsComponents.WebFormsPageBase

<link href="CSS/Instructors_CSS.css" rel="stylesheet" />

<div id="grv">
    <h1 id="hdr">Our Instructors</h1>
    <GridView ItemType="ContosoUniversity.Models.Instructor" @ref="grvInstructors"
        CssClass="grv" AutoGenerateColumns="false"
        AllowSorting="true" OnSorting="grvInstructors_Sorting"
        EmptyDataText="There are no records to display"
        SelectMethod="grvInstructors_GetData"
        BorderWidth="2">
        <Columns>
            <BoundField ItemType="ContosoUniversity.Models.Instructor" DataField="InstructorID" HeaderText="Instructor ID" SortExpression="InstructorID" />
            <BoundField ItemType="ContosoUniversity.Models.Instructor" DataField="FirstName" HeaderText="First Name" SortExpression="FirstName" />
            <BoundField ItemType="ContosoUniversity.Models.Instructor" DataField="LastName" HeaderText="Last Name" SortExpression="LastName" />
            <BoundField ItemType="ContosoUniversity.Models.Instructor" DataField="Email" HeaderText="Email" />
        </Columns>
    </GridView>
</div>
