@page "/Instructors"
@page "/Instructors.aspx"
@rendermode InteractiveServer
<WebFormsForm @formname="InstructorsForm">
    <AntiforgeryToken />
<PageTitle>Instructors</PageTitle>

    <link href="CSS/Instructors_CSS.css" rel="stylesheet" />
    <script src="JQuery/JQuery_Instructors.js"></script>


   <ScriptManager></ScriptManager>
    <UpdatePanel>
        
            <div id="grv">
                <h1 id="hdr">Our Instructors</h1>
                <GridView ItemType="Instructor" id="grvInstructors" @ref="grvInstructors" AutoGenerateColumns="false"
                    CssClass="grv" BorderWidth="2"                 
                    AllowSorting="true" OnSorting="@grvInstructors_Sorting" 
                    EmptyDataText = "There are no records to display" 
                    Items="@_instructors">
                    <Columns>
                        <BoundField ItemType="Instructor" DataField="InstructorID" HeaderText="Instructor ID" SortExpression="InstructorID" />
                        <BoundField ItemType="Instructor" DataField="FirstName" HeaderText="First Name"  SortExpression="FirstName"/>
                        <BoundField ItemType="Instructor" DataField="LastName" HeaderText="Last Name"  SortExpression="LastName"/>
                        <BoundField ItemType="Instructor" DataField="Email" HeaderText="Email"  />
                    </Columns>
                </GridView>
            </div>
        
        </UpdatePanel>


</WebFormsForm>
