@page "/Instructors"
<HeadContent>
    <link href="/CSS/Instructors_CSS.css" rel="stylesheet" />
</HeadContent>
            <div id="grv">
                <h1 id="hdr">Our Instructors</h1>
                <GridView ItemType="ContosoUniversity.Models.Instructor" ID="grvInstructors" AutoGenerateColumns="false"
                    CssClass="grv" BorderWidth="2" Font-Size="30"                 
                    AllowSorting="true" Sorting="HandleSorting"
                    Items="@(_instructors ?? new())"
                    EmptyDataText="There are no records to display" >
                    <Columns>
                        <BoundField ItemType="ContosoUniversity.Models.Instructor" DataField="InstructorID" HeaderText="Instructor ID" SortExpression="InstructorID" />
                        <BoundField ItemType="ContosoUniversity.Models.Instructor" DataField="FirstName" HeaderText="First Name" SortExpression="FirstName"/>
                        <BoundField ItemType="ContosoUniversity.Models.Instructor" DataField="LastName" HeaderText="Last Name" SortExpression="LastName"/>
                        <BoundField ItemType="ContosoUniversity.Models.Instructor" DataField="Email" HeaderText="Email" />
                    </Columns>
                </GridView>
            </div>

