@page "/Checkout/CheckoutCancel"
@page "/CheckoutCancel"
<PageTitle></PageTitle>
<Site>
    <ChildComponents>
        <Content ContentPlaceHolderID="MainContent">
            <h1>Checkout Cancelled</h1>
            <p></p>
            <h3>Your purchase has been cancelled.</h3>
        </Content>
    </ChildComponents>
</Site>