@page "/Checkout/CheckoutStart"

<PageTitle>Checkout Start</PageTitle>
<Site>
    <Content ContentPlaceHolderID="MainContent">
        <h1>Checkout Start</h1>
        <p>Checkout is not implemented in the migrated benchmark sample.</p>
    </Content>
</Site>
