@page "/CheckoutComplete"
<h1>Checkout Complete</h1>
    <p></p>
    <h3>Payment Transaction ID:</h3> <Label ID="TransactionId" Text="@_transactionId"></Label>
    <p></p>
    <h3>Thank You!</h3>
    <p></p>
    <hr />
    <Button ID="Continue" Text="Continue Shopping" OnClick="@Continue_Click" />

