@page "/CheckoutComplete"
<PageTitle></PageTitle>
    <h1>Checkout Complete</h1>
    <p></p>
    <h3>Payment Transaction ID:</h3> <Label id="TransactionId" @ref="TransactionId"></Label>
    <p></p>
    <h3>Thank You!</h3>
    <p></p>
    <hr />
    <Button id="Continue" @ref="Continue" Text="Continue Shopping" OnClick="@Continue_Click" />
