@page "/Checkout/CheckoutStart"
@page "/CheckoutStart"
<PageTitle>Checkout</PageTitle>
<Site>
    <ChildComponents>
        <Content ContentPlaceHolderID="MainContent">
            <h1>Checkout</h1>
            <p>Checkout is under migration. Please review your cart and continue shopping.</p>
        </Content>
    </ChildComponents>
</Site>