@page "/CheckoutError"
@* TODO: Checkout flow page — displays payment errors *@
<h1>Checkout Error</h1>
    <p></p>
	<table id="ErrorTable">
		<tr>
			<td class="field"></td>
			<td>@ErrorCode</td>
		</tr>
		<tr>
			<td class="field"></td>
			<td>@Desc</td>
		</tr>
		<tr>
			<td class="field"></td>
			<td>@Desc2</td>
		</tr>
	</table>
    <p></p>

