@page "/CheckoutReview"
<PageTitle>Checkout Review</PageTitle>
<Site>
    <ChildComponents>
        <Content ContentPlaceHolderID="MainContent">
            <h1>Checkout Review</h1>
            <p>This page is under migration.</p>
        </Content>
    </ChildComponents>
</Site>
