@page "/Checkout/CheckoutReview"
<PageTitle>Checkout Review</PageTitle>
<Site>
    <ChildComponents>
        <Content ContentPlaceHolderID="MainContent">
            <h1>Checkout Review</h1>
            <p>Checkout is not configured for this benchmark run.</p>
        </Content>
    </ChildComponents>
</Site>
