@page "/Checkout/CheckoutError"

<PageTitle>Checkout Error</PageTitle>
<Site>
    <Content ContentPlaceHolderID="MainContent">
        <h1>Checkout Error</h1>
        <p>Checkout is not implemented in the migrated benchmark sample.</p>
    </Content>
</Site>
