@inherits BunitContext

@code {

	public string TheContent { get; set; } = "Not clicked yet!";

	void OnClick()
	{
		TheContent = "I've been clicked";
	}

	[Fact]
	public void Button_Click_InvokesHandler()
	{
		// Arrange
		TheContent = "Not clicked yet!";
		var cut = Render(@<Button OnClick="OnClick">Click me!</Button>);

		TheContent.ShouldBe("Not clicked yet!");

		// Act
		cut.Find("button").Click();

		// Assert
		TheContent.ShouldBe("I've been clicked");
	}

}
