
@code {

	public string TheContent { get; set; } = "No Command yet!";
	public string CommandArgument = "bar";

	void OnCommand(CommandEventArgs args)
	{
		TheContent = $"Command '{args.CommandName}' : '{args.CommandArgument.ToString()}'";
	}

	[Fact]
	public void Button_Command_InvokesHandlerWithArguments()
	{
		// Arrange
		TheContent = "No Command yet!";
		var cut = Render(@<Button CommandName="Foo" CommandArgument="CommandArgument" OnCommand="OnCommand">Click me!</Button>);

		TheContent.ShouldBe("No Command yet!");

		// Act
		cut.Find("button").Click();

		// Assert
		TheContent.ShouldBe("Command 'Foo' : 'bar'");
	}

}
