@inherits BunitContext

@code {

	[Fact]
	public void Button_Disabled_HasDisabledAttributeAndCssClass()
	{
		// Arrange
		var cut = Render(@<Button Enabled="false">This is not an enabled button</Button>);

		// Act
		var theButton = cut.Find("button");

		// Assert
		theButton.ClassList.Contains("aspNetDisabled").ShouldBeTrue("Did not assign the aspNetDisabled CSS class to a disabled button");
		theButton.GetAttribute("disabled").ShouldBe("disabled", "Did not assigned the disabled attribute properly");
	}

}
