
@code {

	[Fact]
	public void Button_WithTextAndOnClientClick_RendersCorrectHtml()
	{
		// Arrange & Act
		var cut = Render(@<Button Text="Click Me!" OnClientClick="window.navigate('bing.com')" />);

		// Assert
		cut.MarkupMatches(@<button type="submit" onclientclick="window.navigate('bing.com')">Click Me!</button>);
	}

}
