@inherits LayoutComponentBase

<HeadContent>
    <meta name="viewport" content="width=device-width" />
</HeadContent>

<div>
    <h1>Mobile Master Page</h1>
    <section class="content-wrapper main-content clear-fix">
        @Body
    </section>
</div>
