@inherits TestComponentBase

<Fixture Test="FirstTest">
	<ComponentUnderTest>
		<FormView AllowPaging="true"
							DataKeyNames="Id"
							OnPageIndexChanging="WidgetFormView_PageIndexChanging"
							runat="server"
							Items="Widget.SimpleWidgetList"
							ItemType="Widget"
							Context="Item">
			<ItemTemplate>

				<table id="theItemTemplate">
					<tr>
						<td>@Item.Name</td><td>@Item.Price.ToString("C")</td><td>@Item.Id</td>
					</tr>
					<tr>
						<td><Button CommandName="Edit" Text="Edit" /></td>
					</tr>
				</table>

			</ItemTemplate>
			<EditItemTemplate>
				<label>@Item.Name</label>
			</EditItemTemplate>

		</FormView>
	</ComponentUnderTest>
</Fixture>


@code {

	void FirstTest()
	{

		var cut = GetComponentUnderTest();

		var editButton = cut.Find("button");
		editButton.ShouldNotBeNull();
		editButton.Click();

		cut.Find("label").ShouldNotBeNull();
		cut.FindAll("button").Count().ShouldBe(0);

	}

	void WidgetFormView_PageIndexChanging()
	{

	}


}
