@page "/AddToCart"
@rendermode InteractiveServer

<PageTitle>Add To Cart</PageTitle>

@if (_added)
{
    <p>Product added to cart. <a href="/ShoppingCart">View Cart</a></p>
}
else if (_notFound)
{
    <p>Product not found.</p>
}
else
{
    <p>Adding product to cart...</p>
}

