@inherits LayoutComponentBase

<BlazorWebFormsComponents.Page />

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Wingtip Toys</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/About">About</a></li>
                <li><a href="/Contact">Contact</a></li>
                <li><a href="/ProductList">Products</a></li>
                <li><a href="/ShoppingCart">Cart</a></li>
            </ul>
            <LoginView>
                <AnonymousTemplate>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/Account/Register">Register</a></li>
                        <li><a href="/Account/Login">Log in</a></li>
                    </ul>
                </AnonymousTemplate>
                <LoggedInTemplate>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/Account/Manage" title="Manage your account">Hello, @_userName !</a></li>
                        <li>
                            <form method="post" action="/account/logout-handler" data-enhance="false">
                                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log off</button>
                            </form>
                        </li>
                    </ul>
                </LoggedInTemplate>
            </LoginView>
        </div>
    </div>
</div>
<div id="TitleContent" style="text-align: center">
    <a href="/">
        <img src="/Images/logo.jpg" style="border:none" alt="Wingtip Toys Logo" />
    </a>
    <br />
</div>
<div id="CategoryMenu" style="text-align: center">
    @if (_categories != null)
    {
        @for (int i = 0; i < _categories.Count; i++)
        {
            if (i > 0)
            {
                <text>  |  </text>
            }
            var cat = _categories[i];
            <b style="font-size: large; font-style: normal">
                <a href="/ProductList?id=@cat.CategoryID">@cat.CategoryName</a>
            </b>
        }
    }
</div>
<main class="container body-content">
    @Body
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Wingtip Toys</p>
    </footer>
</main>
