@inherits LayoutComponentBase

<HeadContent>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wingtip Toys</title>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
</HeadContent>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Wingtip Toys</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/About">About</a></li>
                <li><a href="/Contact">Contact</a></li>
                <li><a href="/ProductList">Products</a></li>
                <li><a href="/ShoppingCart">Cart</a></li>
            </ul>
            <LoginView>
                <AnonymousTemplate>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/Account/Register">Register</a></li>
                        <li><a href="/Account/Login">Log in</a></li>
                    </ul>
                </AnonymousTemplate>
                <LoggedInTemplate>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/Account/Manage" title="Manage your account">Hello!</a></li>
                        <li>
                            <LoginStatus LogoutAction="LogoutAction.Redirect" LogoutText="Log off" LogoutPageUrl="/" />
                        </li>
                    </ul>
                </LoggedInTemplate>
            </LoginView>
        </div>
    </div>
</div>
<div id="TitleContent" style="text-align: center">
    <a href="/">
        <img src="/Images/logo.jpg" style="border:none" alt="Wingtip Toys" />
    </a>
    <br />
</div>
<div id="CategoryMenu" style="text-align: center">
    @if (_categories != null)
    {
        <ListView Items="@_categories" TItem="Category">
            <ItemTemplate>
                <b style="font-size: large; font-style: normal">
                    <a href="/ProductList?id=@context.CategoryID">
                        @context.CategoryName
                    </a>
                </b>
            </ItemTemplate>
            <ItemSeparatorTemplate>  |  </ItemSeparatorTemplate>
        </ListView>
    }
</div>
<div class="container body-content">
    @Body
    <hr />
    <footer>
        <p>&copy; @(DateTime.Now.Year) - Wingtip Toys</p>
    </footer>
</div>

@code {
    [Inject] private IDbContextFactory<Data.ProductContext> DbFactory { get; set; } = default!;
    private List<Category>? _categories;

    protected override async Task OnInitializedAsync()
    {
        using var db = DbFactory.CreateDbContext();
        _categories = await db.Categories.ToListAsync();
    }
}
