@inherits LayoutComponentBase

<nav class="navbar navbar-static-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Wingtip Toys</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/ProductList">Products</a></li>
                <li><a href="/ShoppingCart">Cart</a></li>
                <li><a href="/About">About</a></li>
                <li><a href="/Contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <AuthorizeView>
                    <Authorized>
                        <li><a href="/Account/Manage">Hello, @context.User.Identity?.Name!</a></li>
                        <li><a href="/Account/Logout" data-enhance-nav="false">Log off</a></li>
                    </Authorized>
                    <NotAuthorized>
                        <li><a href="/Account/Register">Register</a></li>
                        <li><a href="/Account/Login">Log in</a></li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>

<div class="container body-content" role="main">
    @Body
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Wingtip Toys</p>
    </footer>
</div>
