
@using System.Diagnostics;

@code {
    int databinding = 0;
    int databound = 0;
    int itemDatabound = 0;

    void DataBinding(EventArgs args) => databinding++;
    void DataBound(EventArgs args) => databound++;
    void ItemDataBound(DataListItemEventArgs args) => itemDatabound++;

    [Fact]
    public void DataList_TableLayout_DataBind_EventsTriggered()
    {
        var cut = Render(@<DataList ID="simpleDataList" Items="Widget.SimpleWidgetList" ItemType="Widget" RepeatLayout="Table" OnDataBound="DataBound" OnDataBinding="DataBinding" OnItemDataBound="ItemDataBound" Context="Item">
            <HeaderTemplate>My Widget List</HeaderTemplate>
            <ItemTemplate><span>@Item.Name</span></ItemTemplate>
        </DataList>);
        databinding.ShouldBeGreaterThan(0);
        databound.ShouldBeGreaterThan(0);
        itemDatabound.ShouldBeGreaterThanOrEqualTo(Widget.SimpleWidgetList.Length);
        cut.FindAll("span").Count().ShouldBe(Widget.SimpleWidgetList.Length);
    }
}



