@inherits TestComponentBase


<Fixture Test="FirstTest">
	<ComponentUnderTest>
		<DataList Items="Widget.Widgets(12)"
							ItemType="Widget"
							Caption="DataListCaption"
							RepeatDirection="Horizontal"
							RepeatLayout="Table"
							RepeatColumns="4"
							Context="Item">
			<HeaderTemplate>HeaderTemplate</HeaderTemplate>
			<HeaderTemplate>FooterTemplate</HeaderTemplate>
			<ItemTemplate>@Item.Name</ItemTemplate>
		</DataList>
	</ComponentUnderTest>
</Fixture>


@code {

	void FirstTest()
	{

		var cut = GetComponentUnderTest();
		Console.WriteLine(cut.Markup);

		cut.FindAll("span").Count().ShouldBe(5);
		cut.FindAll("span").Skip(1).First().TextContent.ShouldBe("My Widget List");

		cut.Find("span").HasAttribute("title").ShouldBeFalse();

	}


}
@*  
<table title="This is my tooltip" id="MainContent_simpleDataList" border="1" rules="cols" cellspacing="3" cellpadding="2" itemtype="SharedSampleObjects.Models.Widget">
	<caption align="Top">
		This is my caption
	</caption>
	<tbody>
		<tr>
			<th colspan="3" scope="col">
				My Widget List
			</th>
		</tr>
		<tr>
			<td>
				one Widget
				<br>
				£80.00
			</td>
			<td>
				eight Widget
				<br>
				£39.00
			</td>
			<td>
				fifteen Widget
				<br>
				£79.00
			</td>
		</tr>
		<tr>
			<td>
				two Widget
				<br>
				£35.00
			</td>
			<td>
				nine Widget
				<br>
				£33.00
			</td>
			<td>
				sixteen Widget
				<br>
				£9.00
			</td>
		</tr>
		<tr>
			<td>
				three Widget
				<br>
				£45.00
			</td>
			<td>
				ten Widget
				<br>
				£89.00
			</td>
			<td>
				seventeen Widget
				<br>
				£2.00
			</td>
		</tr>
		<tr>
			<td>
				four Widget
				<br>
				£18.00
			</td>
			<td>
				eleven Widget
				<br>
				£10.00
			</td>
			<td>
				eighteen Widget
				<br>
				£99.00
			</td>
		</tr>
		<tr>
			<td>
				five Widget
				<br>
				£79.00
			</td>
			<td>
				twelve Widget
				<br>
				£92.00
			</td>
			<td>
				nineteen Widget
				<br>
				£69.00
			</td>
		</tr>
		<tr>
			<td>
				six Widget
				<br>
				£94.00
			</td>
			<td>
				thirteen Widget
				<br>
				£76.00
			</td>
			<td>
				twenty Widget
				<br>
				£1.00
			</td>
		</tr>
		<tr>
			<td>
				seven Widget
				<br>
				£61.00
			</td>
			<td>
				fourteen Widget
				<br>
				£36.00
			</td>
			<td></td>
		</tr>
	</tbody>
</table>
*@
