@typeparam ItemType
@inherits BaseColumn<ItemType>

@code
{
	RenderFragment RenderCheckbox(bool value) =>
		@<text><input type="checkbox" disabled="disabled" checked="@(value ? "checked" : null )">
		@if (!string.IsNullOrEmpty(Text)) {
		<label>@Text</label>
		}</text>;

}
