@typeparam ItemType
@inherits BaseModelBindingComponent<ItemType>
@using Interfaces
@if (ColumnList.Any())
{
	<table class="@CssClass">
		<thead>
			<tr>
				@foreach (IColumn<ItemType> column in ColumnList)
				{
					<th>@column.HeaderText</th>
				}
			</tr>
		</thead>
		<tbody>
			@if (Items != null && Items.Any())
			{
				@foreach (object item in Items)
				{
					<CascadingValue Value="this" Name="RowCollection">
						<GridViewRow DataItem="item" Columns="ColumnList" />
					</CascadingValue>
				}
			}
			else
			{
				<tr>
					<td colspan=@ColumnList.Count>
						@EmptyDataText
					</td>
				</tr>
			}
		</tbody>
	</table>
}

<CascadingValue Value="this" Name="ColumnCollection">
	@Columns
</CascadingValue>
