@typeparam ItemType
@inherits BaseRow<ItemType>
@using Interfaces

<tr @key="DataItem">
	@foreach (IColumn<ItemType> column in Columns)
	{
		<td @key="column">
			@column.Render(DataItem)
		</td>
	}
</tr>
