@typeparam TItem

<table class="table" @attributes="AdditionalAttributes">
    @if (Items == null || !Items.Any())
    {
        @EmptyDataTemplate
    }
    <thead>
        @TableHeader
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            @ItemTemplate(item)
        }
    </tbody>
</table>