@inherits BlazorWebFormsComponents.BaseDataBindingComponent

<div class="@CssClass">
<CascadingValue Name="ParentTreeView" Value="this">
@ChildContent
@ChildNodesRenderFragment
</CascadingValue>
</div>
