@inherits BlazorWebFormsComponents.BaseDataBindingComponent

<div id="@ID" name="@ID" class="@CssClass">
<CascadingValue Name="ParentTreeView" Value="this">
@ChildContent
@ChildNodesRenderFragment
</CascadingValue>
</div>
