@using BlazorWebFormsComponents.DataBinding
@inherits BaseDataBoundComponent

<div id="@ClientID" class="@CssClass" role="@(UseAccessibilityFeatures ? "tree" : null)" aria-label="@(UseAccessibilityFeatures ? "Tree navigation" : null)">
<CascadingValue Name="ParentTreeView" Value="this">
@ChildContent
@ChildNodesRenderFragment
</CascadingValue>
</div>
