@page "/TC04-ImportDirective"
<WebFormsForm @formname="TC04ImportDirectiveForm">
    <AntiforgeryToken />
<PageTitle>Test</PageTitle>
@using System.Linq
@using System.Collections.Generic
<div>Content</div>

</WebFormsForm>
