@* TODO(bwfc-master-page): CSS <link> refs from <head> — move to App.razor: /Content/Site.css *@

<MasterPage>
<Head>
    <title>My Site</title>
</Head>
<ChildContent>
    <form id="form1">
        <div class="container">
            <ContentPlaceHolder id="MainContent">
                <p>Default content</p>
            </ContentPlaceHolder>
        </div>
    </form>
</ChildContent>
</MasterPage>
