@page "/TC25-SelectMethod"
<PageTitle>Products</PageTitle>
<ListView id="ProductList"
    TItem="Product"
    SelectMethod="GetProducts">
    <ItemTemplate>
        <tr>
            <td><%# Item.Name %></td>
        </tr>
    </ItemTemplate>
</ListView>
<FormView id="DetailView"
    TItem="Product"
    SelectMethod="GetProduct"
    InsertMethod="InsertProduct"
@* TODO(bwfc-select-method): Review InsertMethod="InsertProduct" migration for BWFC event/CRUD handling *@
    UpdateMethod="UpdateProduct"
@* TODO(bwfc-select-method): Review UpdateMethod="UpdateProduct" migration for BWFC event/CRUD handling *@
    DeleteMethod="DeleteProduct">
@* TODO(bwfc-select-method): Review DeleteMethod="DeleteProduct" migration for BWFC event/CRUD handling *@
    <ItemTemplate>
        <span><%# Item.Description %></span>
    </ItemTemplate>
</FormView>
