@page "/TC28-AjaxToolkit"
<PageTitle>Ajax Test</PageTitle>
<TabContainer id="TabContainer1">
    <TabPanel HeaderText="Tab 1">
        
            <p>Tab content</p>
        
    </TabPanel>
</TabContainer>
@* TODO(bwfc-ajax-toolkit): Convert ajaxToolkit:RatingExtender — no BWFC equivalent yet *@
