@page "/TC29-Combined"
<WebFormsForm @formname="TC29CombinedForm">
    <AntiforgeryToken />
<PageTitle>Combined Test</PageTitle>
@using System.Collections.Generic

    <h1>@(PageTitle)</h1>
    <GridView ItemType="object" id="ProductGrid" AutoGenerateColumns="false" CssClass="table">
        <Columns>
            <BoundField ItemType="object" DataField="Name" HeaderText="Name" />
        </Columns>
    </GridView>
    <Button id="SaveButton" Text="Save" OnClick="@SaveButton_Click" CssClass="btn" />
    <HyperLink id="HelpLink" NavigateUrl="/Help.aspx" Text="Help" />


</WebFormsForm>
