@page "/ShoppingCart"
<div id="ShoppingCartTitle" class="ContentHead"><h1>Shopping Cart</h1></div>
    <GridView ID="CartList" AutoGenerateColumns="False" ShowFooter="True" GridLines="Vertical" CellPadding="4"
        TItem="CartItem" SelectMethod="GetShoppingCartItems" 
        CssClass="table table-striped table-bordered" >   
        <Columns>
        <BoundField DataField="ProductID" HeaderText="ID" SortExpression="ProductID" />        
        <BoundField DataField="Product.ProductName" HeaderText="Name" />        
        <BoundField DataField="Product.UnitPrice" HeaderText="Price (each)" DataFormatString="{0:c}"/>     
        <TemplateField   HeaderText="Quantity">            
                <ItemTemplate>
                    <TextBox ID="PurchaseQuantity" Width="40" Text="@context.Quantity"></TextBox> 
                </ItemTemplate>        
        </TemplateField>    
        <TemplateField HeaderText="Item Total">            
                <ItemTemplate>
                    <%#: String.Format("{0:c}", ((Convert.ToDouble(Item.Quantity)) *  Convert.ToDouble(Item.Product.UnitPrice)))%>
                </ItemTemplate>        
        </TemplateField> 
        <TemplateField HeaderText="Remove Item">            
                <ItemTemplate>
                    <CheckBox id="Remove"></CheckBox>
                </ItemTemplate>        
        </TemplateField>    
        </Columns>    
    </GridView>
    <div>
        <p></p>
        <strong>
            <Label ID="LabelTotalText" Text="Order Total: "></Label>
            <Label ID="lblTotal"></Label>
        </strong> 
    </div>
    <br />
    <table> 
    <tr>
      <td>
        <Button ID="UpdateBtn" Text="Update" OnClick="UpdateBtn_Click" />
      </td>
      <td>
        <ImageButton ID="CheckoutImageBtn" 
                      ImageUrl="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" 
                      Width="145" AlternateText="Check out with PayPal" 
                      OnClick="CheckoutBtn_Click" 
                      BackColor="Transparent" BorderWidth="0" />
      </td>
    </tr>
    </table>

