<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <ContentPlaceHolder ID="HeadContent" />
</head>
<body>
    <div>
        <h1>Mobile Master Page</h1>
        <ContentPlaceHolder ID="FeaturedContent" />
        <section class="content-wrapper main-content clear-fix">
            <ContentPlaceHolder ID="MainContent" />
        </section>
        <friendlyUrls:ViewSwitcher />
    </div>
    </body>
</html>

