@page "/ControlSamples/DataList/ComplexStyle"
@using static BlazorWebFormsComponents.WebColor
@using static BlazorWebFormsComponents.Enums.BorderStyle

<h2>DataList HeaderStyle sample</h2>

<Nav />

<p>Here is a simple datalist bound to a collection of widgets with simple HeaderStyle applied</p>

<DataList @ref="simpleDataList"
					runat="server"
					EnableViewState="false"
					BackColor="@("#808080")"
					BorderColor="Firebrick"
					BorderStyle="Groove"
					BorderWidth="2"
					Context="Item"
					ItemType="SharedSampleObjects.Models.Widget">
	<HeaderTemplate>Simple Widgets</HeaderTemplate>
	<ItemTemplate>
		@Item.Name - @Item.Price.ToString("c")
	</ItemTemplate>
</DataList>

@code {

	BlazorWebFormsComponents.DataList<Widget> simpleDataList { get; set; }

	protected override void OnAfterRender(bool firstRender)
	{

		if (firstRender)
		{
			simpleDataList.DataSource = Widget.SimpleWidgetList;
			simpleDataList.DataBind();
		}

		//base.OnParametersSet();
		base.OnAfterRender(firstRender);

	}

	IQueryable<Widget> GetWidgets(int maxRows, int startRowIndex, string sortByExpression, out int totalRowCount)
	{

		totalRowCount = Widget.SimpleWidgetList.Length;

		return Widget.SimpleWidgetList.AsQueryable();

	}


}

