<div>
	Other usage samples:
	<NavLink href="./ControlSamples/Button" class="component-link" Match="NavLinkMatch.All">Simple LinkButton</NavLink> |
	<NavLink href="./ControlSamples/Button/JavaScript" class="component-link" Match="NavLinkMatch.All">JavaScript Click</NavLink> |
</div>
