@page "/ControlSamples/AdRotator"

<h2>AdRotator Component</h2>

<AdRotator AdvertisementFile="Ads.xml" Target="_top"></AdRotator>

<hr />

<p>Code:</p>
<code>
&lt;AdRotator AdvertisementFile="Ads.xml" Target="_top"&gt;&lt;/AdRotator&gt;
</code>
