@page "/ProductList"
	<section>
        <div>
            <hgroup>
                <h2>@(Page.Title)</h2>
            </hgroup>

            <ListView ID="productList" 
                DataKeyNames="ProductID" GroupItemCount="4"
                ItemType="WingtipToys.Models.Product">
@* TODO: Replace SelectMethod="GetProducts" with Items="@_data" parameter on this BWFC data control. Load _data in OnInitializedAsync: _data = await yourDbContext.YourEntities.ToListAsync(); *@
                <EmptyDataTemplate>
                    <table >
                        <tr>
                            <td>No data was returned.</td>
                        </tr>
                    </table>
                </EmptyDataTemplate>
                <EmptyItemTemplate>
                    <td/>
                </EmptyItemTemplate>
                <GroupTemplate>
                    <tr id="itemPlaceholderContainer">
                        <td id="itemPlaceholder"></td>
                    </tr>
                </GroupTemplate>
                <ItemTemplate>
                    <td>
                        <table>
                            <tr>
                                <td>
                                  <a href="/ProductDetails?productID=@context.ProductID">
                                    <image src='/Catalog/Images/Thumbs/@context.ImagePath'
                                      width="100" height="75" border="1" />
                                  </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="/ProductDetails?productID=@context.ProductID">
                                      @context.ProductName
                                    </a>
                                    <br />
                                    <span>
                                        <b>Price: </b>@($"{context.UnitPrice:c}")
                                    </span>
                                    <br />
                                    <a href="/AddToCart?productID=@context.ProductID">               
                                        <span class="ProductListItem">
                                            <b>Add To Cart</b>
                                        </span>           
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </ItemTemplate>
                <LayoutTemplate>
                    <table style="width:100%;">
                        <tbody>
                            <tr>
                                <td>
                                    <table id="groupPlaceholderContainer" style="width:100%">
                                        <tr id="groupPlaceholder"></tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                            <tr></tr>
                        </tbody>
                    </table>
                </LayoutTemplate>
            </ListView>
        </div>
    </section>

