@page "/AdminPage"
<PageTitle></PageTitle>
<Site>
    <ChildComponents>
        <Content ContentPlaceHolderID="MainContent">
            <h1>Administration</h1>
            <hr />
            <p>The administrative product editor is not fully migrated in this sample.</p>
        </Content>
    </ChildComponents>
</Site>
