@page "/Admin/AdminPage"

<PageTitle>Admin Page</PageTitle>
<Site>
    <Content ContentPlaceHolderID="MainContent">
        <h1>Admin Page</h1>
        <p>Administration features are not implemented in the migrated benchmark sample.</p>
    </Content>
</Site>
