@page "/Admin/AdminPage"
@page "/AdminPage"
<PageTitle>Administration</PageTitle>
<Site>
    <ChildComponents>
        <Content ContentPlaceHolderID="MainContent">
            <h1>Administration</h1>
            <p>This administrative workflow was quarantined during migration and is not part of the benchmark path.</p>
        </Content>
    </ChildComponents>
</Site>
