@inherits BunitContext



@code {

	Button MyButton { get; set; }

	[Fact]
public void ListView_WithLayoutTemplate_RendersControls()
{
	var cut = Render(@<ListView Items="Widget.SimpleWidgetList" ItemType="Widget" Context="Item">
		<ItemTemplate><span>@Item.Name</span></ItemTemplate>
		<LayoutTemplate Context="itemPlaceholder">
			<div>
				<b>Header <Button @ref="MyButton">My Button</Button></b>
				<br />
				@itemPlaceholder
			</div>
		</LayoutTemplate>
	</ListView>);
	cut.Instance.Controls.Count().ShouldBe(1);
}

}
