@inherits TestComponentBase

<Fixture
	Test="FirstTest"
>
<ComponentUnderTest>
	<ListView Items="Widget.SimpleWidgetList"
						ItemType="Widget"
						Context="Item">
		<ItemTemplate><span>@Item.Name</span></ItemTemplate>
		<LayoutTemplate Context="itemPlaceholder">
			<div>
				<b>Header <Button @ref="MyButton">My Button</Button></b>
				<br/>
				@itemPlaceholder
			</div>
		</LayoutTemplate>
	</ListView>
</ComponentUnderTest>
</Fixture>

@code {

Button MyButton { get; set; }

void FirstTest() {

	var cut = GetComponentUnderTest();
	cut.FindAll("button").Count().ShouldNotBe(0);

	MyButton.ShouldNotBeNull();
	MyButton.Parent.ShouldNotBeNull("Cannot find the Parent component");

}

}
