@page "/ControlSamples/FormView/Simple"

<h2>Simple FormView</h2>

<Nav></Nav>

<p>Here is a simple form view</p>

<FormView @ref="WidgetFormView"
							AllowPaging="true"
							DataKeyNames="Id"
							OnPageIndexChanging="WidgetFormView_PageIndexChanging"
							HeaderText="Widget Catalog"
							FooterText="End of widgets"
							ItemType="Widget" Context="Item"
							runat="server">

	<ItemTemplate>
		<table>
			<tr>
				<td>

					<h3>@Item.Name&nbsp;@Item.Price.ToString("C")  &nbsp;&nbsp;(@Item.Id)</h3>

				</td>
			</tr>
		</table>

	</ItemTemplate>

</FormView>
@code {

	protected FormView<Widget> WidgetFormView;

	protected override Task OnAfterRenderAsync(bool firstRender)
	{

		if (firstRender)
			WidgetFormView.Items = Widget.SimpleWidgetList;

		return base.OnAfterRenderAsync(firstRender);

	}

}

<hr />

<h3>Empty FormView with EmptyDataText</h3>
<p>When the data source is empty, the EmptyDataText is displayed:</p>

<FormView ItemType="Widget" Context="Item"
					EmptyDataText="No widgets available.">
	<ItemTemplate>
		<span>@Item.Name</span>
	</ItemTemplate>
</FormView>

<hr />

<p>Code:</p>
<code>
&lt;FormView HeaderText="Widget Catalog" AllowPaging="true" DataKeyNames="Id" ItemType="Widget" Context="Item"&gt;<br />
&nbsp;&nbsp;&lt;ItemTemplate&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;h3&gt;@@Item.Name&nbsp;@@Item.Price.ToString("C")&lt;/h3&gt;<br />
&nbsp;&nbsp;&lt;/ItemTemplate&gt;<br />
&lt;/FormView&gt;<br /><br />
&lt;FormView ItemType="Widget" EmptyDataText="No widgets available."&gt;<br />
&nbsp;&nbsp;&lt;ItemTemplate&gt;...&lt;/ItemTemplate&gt;<br />
&lt;/FormView&gt;
</code>
