@page "/ControlSamples/Button"

<h2>Button component home page</h2>

<Nav></Nav>

<Button CommandName="Foo" CommandArgument="bar" OnCommand="OnCommand" OnClick="OnClick" Text="Click me!" />

<span style="font-weight: bold">@TheContent</span>

@code {

	[Parameter]
	public string TheContent { get; set; } = "Not clicked yet!";
	public string bar = "bar";

/*
  protected override void OnInitialized() {
		TheContent = "Initialized";
		Console.WriteLine("Initialized");
	}
*/

	void OnClick() {

		TheContent = "I've been clicked";

	}

	void OnCommand(CommandEventArgs args) {

		Console.WriteLine("Command fired");
		TheContent = $"Command '{args.CommandName}'";

	}



}

<hr />

<p>Code:</p>
<code>
&lt;Button CommandName="Foo" CommandArgument="bar" OnCommand="OnCommand" OnClick="OnClick" Text="Click me!" /&gt;
</code>
