@page "/ControlSamples/Button"

<h2>Button component home page</h2>

<Nav></Nav>

<Button CommandName="Foo" CommandArgument="bar" OnCommand="OnCommand" OnClick="OnClick" Text="Click me!"
				AccessKey="b" ToolTip="Click to submit" />

<p><em>Tip:</em> This button has <code>AccessKey="b"</code> (press <kbd>Alt+B</kbd> to focus) and <code>ToolTip="Click to submit"</code> (hover to see).</p>

<span style="font-weight: bold">@TheContent</span>

@code {

	[Parameter]
	public string TheContent { get; set; } = "Not clicked yet!";
	public string bar = "bar";

/*
  protected override void OnInitialized() {
		TheContent = "Initialized";
		Console.WriteLine("Initialized");
	}
*/

	void OnClick() {

		TheContent = "I've been clicked";

	}

	void OnCommand(CommandEventArgs args) {

		Console.WriteLine("Command fired");
		var button = (Button)args.Sender;  // Access the sender!
		TheContent = $"Command '{args.CommandName}' from button with text '{button.Text}'";

	}



}

<hr />

<p>Code:</p>
<code>
&lt;Button CommandName="Foo" CommandArgument="bar" OnCommand="OnCommand" OnClick="OnClick" Text="Click me!"<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;AccessKey="b" ToolTip="Click to submit" /&gt;
</code>
