@page "/ControlSamples/Button/JavaScript"

<h2>Button component JavaScript sample</h2>

<Nav></Nav>

<div data-audit-control="Button-JavaScript">
	<Button Text="Click Me!" OnClientClick="alert('Hello world')" />
</div>

