@page "/ControlSamples/Validation"

<h2>Validation</h2>
<div>
	<NavLink href="/ControlSamples/RequiredFieldValidator" class="component-link" Match="NavLinkMatch.All">Required Field Validator</NavLink> |
</div>
