<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    @* Auto-detected CSS files from wwwroot *@
    <link rel="stylesheet" href="/Content/bootstrap-original.css" />
    <link rel="stylesheet" href="/Content/bootstrap-original.min.css" />
    <link rel="stylesheet" href="/Content/bootstrap.css" />
    <link rel="stylesheet" href="/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/Site.css" />

    <HeadOutlet />
</head>

@* SSR by default — add @rendermode="InteractiveServer" to pages that need interactivity *@
<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    @* Auto-detected JS files from Scripts/ *@
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/modernizr-2.6.2.js"></script>
    <script src="/Scripts/respond.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <script src="/Scripts/respond.js"></script>

</body>

</html>


