@inherits TestComponentBase
@using static BlazorWebFormsComponents.Helpers

<Fixture Test="FirstTest">
	<ComponentUnderTest>
		<ListView Items="Widget.SimpleWidgetList"
							ItemType="Widget">
			<ItemTemplate><span>@Eval("Name")</span></ItemTemplate>
		</ListView>
	</ComponentUnderTest>
</Fixture>


@code {

	void FirstTest()
	{

		var cut = GetComponentUnderTest();
		Console.WriteLine(cut.Markup);

		var spans = cut.FindAll("span");

		spans[0].TextContent.ShouldBe("First Widget");

	}

}
