<ul>
	<li><a href="/ControlSamples/CheckBox">CheckBox Samples</a></li>
	<li><a href="/ControlSamples/CheckBox/Style">Styling Samples</a></li>
	<li><a href="/ControlSamples/CheckBox/Events">Event Samples</a></li>
</ul>
