@page "/Account/AddPhoneNumber"

<PageTitle>Add phone number</PageTitle>
<Site>
    <Content ContentPlaceHolderID="MainContent">
        <h1>Add phone number</h1>
        <p>This workflow is not implemented in the migrated benchmark sample.</p>
    </Content>
</Site>
