@page "/AddPhoneNumber"
<PageTitle>Phone Number</PageTitle>
<Site>
    <ChildComponents>
        <Content ContentPlaceHolderID="MainContent">
            <h2>Add a phone number</h2>
            <p>Phone number management is not configured in this migrated sample.</p>
        </Content>
    </ChildComponents>
</Site>
