@page "/Confirm"
<PageTitle>Account Confirmation</PageTitle>
<h2>@(Title).</h2>

    <div>
        <PlaceHolder ID="successPanel" Visible="true">
            <p>
                Thank you for confirming your account. Click <HyperLink ID="login" NavigateUrl="/Account/Login">here</HyperLink>  to login             
            </p>
        </PlaceHolder>
        <PlaceHolder ID="errorPanel" Visible="false">
            <p class="text-danger">
                An error has occurred.
            </p>
        </PlaceHolder>
    </div>

