@page "/Account/Confirm"

<PageTitle>Account confirmation</PageTitle>
<Site>
    <Content ContentPlaceHolderID="MainContent">
        <h1>Account confirmation</h1>
        <p>Account confirmation is not required for this migrated benchmark sample.</p>
    </Content>
</Site>
