@page "/Confirm"
<PageTitle>Account Confirmation</PageTitle>
<Site>
    <ChildComponents>
        <Content ContentPlaceHolderID="MainContent">
            <h2>@(Title).</h2>

            <div>
                <PlaceHolder id="successPanel" @ref="successPanel" Visible="true">
                    <p>
                        Thank you for confirming your account. Click <HyperLink id="login" @ref="login" NavigateUrl="/Account/Login">here</HyperLink>  to login
                    </p>
                </PlaceHolder>
                <PlaceHolder id="errorPanel" @ref="errorPanel" Visible="false">
                    <p class="text-danger">
                        An error has occurred.
                    </p>
                </PlaceHolder>
            </div>
        </Content>
    </ChildComponents>
</Site>
