@page "/Account/Confirm"
<h2>Account Confirmation</h2>

    <div>
        <p>
            Thank you for confirming your account. Click <HyperLink NavigateUrl="/Account/Login">here</HyperLink> to login             
        </p>
    </div>

