@page "/Account/Forgot"

<PageTitle>Forgot your password?</PageTitle>
<Site>
    <Content ContentPlaceHolderID="MainContent">
        <h1>Forgot your password?</h1>
        <p>Password reset is not implemented in the migrated benchmark sample.</p>
    </Content>
</Site>
