@page "/Forgot"
<PageTitle>Forgot password</PageTitle>
<Site>
    <ChildComponents>
        <Content ContentPlaceHolderID="MainContent">
            <h2>Forgot password</h2>
            <p>Password reset is not configured in this migrated sample.</p>
        </Content>
    </ChildComponents>
</Site>
