@page "/Account/Lockout"

<PageTitle>Locked out</PageTitle>
<Site>
    <Content ContentPlaceHolderID="MainContent">
        <h1>Locked out</h1>
        <p>This account workflow is not implemented in the migrated benchmark sample.</p>
    </Content>
</Site>
