@page "/Login"
<PageTitle>Log in</PageTitle>
@page "/Account/Login"
<PageTitle>Log in</PageTitle>

<h2>Log in</h2>

@if (!string.IsNullOrWhiteSpace(ErrorMessage))
{
    <p class="text-danger">@ErrorMessage</p>
}

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <form method="post" action="/Account/LoginHandler" class="form-horizontal">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div class="form-group">
                    <label class="col-md-2 control-label" for="login-email">Email</label>
                    <div class="col-md-10">
                        <input id="login-email" class="form-control" type="email" name="email" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label" for="login-password">Password</label>
                    <div class="col-md-10">
                        <input id="login-password" class="form-control" type="password" name="password" required />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="rememberMe" value="true" />
                                Remember me?
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default">Log in</button>
                    </div>
                </div>
            </form>
            <p>
                <a href="/Account/Register">Register as a new user</a>
            </p>
        </section>
    </div>
</div>
