@page "/Manage"
<PageTitle>Manage Account</PageTitle>
<Site>
    <ChildComponents>
        <Content ContentPlaceHolderID="MainContent">
            <h2>Manage Account</h2>
            <p>Account management features are not yet wired in this migrated sample.</p>
            <ul>
                <li><a href="/Account/ManagePassword">Manage password</a></li>
                <li><a href="/Account/ManageLogins">Manage external logins</a></li>
                <li><a href="/Account/AddPhoneNumber">Add phone number</a></li>
            </ul>
        </Content>
    </ChildComponents>
</Site>
