@page "/Account/ManageLogins"
<h2>Manage your external logins.</h2>

    <div>
        <section id="externalLoginsForm">
            <h4>Registered Logins</h4>
            <p>No external logins are configured.</p>
        </section>
    </div>
    <div>
        <OpenAuthProviders ReturnUrl="/Account/ManageLogins" />
    </div>

