@page "/ManageLogins"
<PageTitle></PageTitle>
<Site>
    <ChildComponents>
        <Content ContentPlaceHolderID="MainContent">
            <h2>Manage your external logins.</h2>
            <p>No external login providers are configured for this migrated sample.</p>
            <OpenAuthProviders ReturnUrl="~/Account/ManageLogins" />
        </Content>
    </ChildComponents>
</Site>
