<div id="socialLoginList" class="external-login-providers">
    <h4>Use another service to log in.</h4>
    <hr />

    @if (providerDetails.Count == 0)
    {
        <p>No external login providers configured.</p>
    }
</div>
