@page "/Account/RegisterExternalLogin"
@page "/RegisterExternalLogin"
<PageTitle>Register an external login</PageTitle>

@* TODO(bwfc-identity): External login registration requires external auth provider configuration.
   This page is a stub until external providers (Google, Facebook, etc.) are configured in Program.cs. *@
<h3>External Login Registration</h3>
<p class="text-info">External authentication is not currently configured for this application.</p>
<p><a href="/Account/Login">Return to login</a></p>

