@page "/Account/RegisterExternalLogin"

<PageTitle>Register external login</PageTitle>
<Site>
    <Content ContentPlaceHolderID="MainContent">
        <h1>Register external login</h1>
        <p>External login providers are not configured in the migrated benchmark sample.</p>
    </Content>
</Site>
