@page "/Account/RegisterExternalLogin"
@page "/RegisterExternalLogin"

<PageTitle>Register External Login</PageTitle>
<p>External login registration is not yet supported in the migrated application.</p>
