@page "/Account/RegisterExternalLogin"
<PageTitle>External Login</PageTitle>
<Site>
    <ChildComponents>
        <Content ContentPlaceHolderID="MainContent">
            <h1>External Login</h1>
            <p>External login is not configured for this benchmark run.</p>
        </Content>
    </ChildComponents>
</Site>
