@page "/Register"
@page "/Account/Register"
<PageTitle>Register</PageTitle>

<h2>Register</h2>

@if (!string.IsNullOrWhiteSpace(ErrorMessage))
{
    <p class="text-danger">@ErrorMessage</p>
}

<form method="post" action="/Account/RegisterHandler" class="form-horizontal">
    <h4>Create a new account</h4>
    <hr />
    <div class="form-group">
        <label class="col-md-2 control-label" for="register-email">Email</label>
        <div class="col-md-10">
            <input id="register-email" class="form-control" type="email" name="email" required />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="register-password">Password</label>
        <div class="col-md-10">
            <input id="register-password" class="form-control" type="password" name="password" required />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="register-confirm">Confirm password</label>
        <div class="col-md-10">
            <input id="register-confirm" class="form-control" type="password" name="confirmPassword" required />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Register</button>
        </div>
    </div>
</form>
