@page "/Account/RegisterExternalLogin"
@page "/RegisterExternalLogin"
<PageTitle>Register an external login</PageTitle>
<Site>
    <ChildComponents>
        <h3>External login is not available in this migrated sample.</h3>
        <p>This page has been stubbed to keep the migrated app compilable.</p>
    </ChildComponents>
</Site>
