@page "/Account/RegisterExternalLogin"
@page "/RegisterExternalLogin"

<PageTitle>Register an external login</PageTitle>

<h3>Register an external login</h3>
<p>External login providers are not configured for this migrated sample.</p>
<p><a href="/Account/Login">Return to Login</a></p>
