@page "/Account/Register"

<h2>Register.</h2>

@if (!string.IsNullOrEmpty(_error))
{
    <p class="text-danger">@_error</p>
}

<div class="form-horizontal">
    <h4>Create a new account</h4>
    <hr />
    <form method="post" action="/account/register-handler" data-enhance="false">
        <div class="form-group">
            <label class="col-md-2 control-label">Email</label>
            <div class="col-md-10">
                <input type="email" name="Email" class="form-control" required />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Password</label>
            <div class="col-md-10">
                <input type="password" name="Password" class="form-control" required />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Confirm password</label>
            <div class="col-md-10">
                <input type="password" name="ConfirmPassword" class="form-control" required />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Register</button>
            </div>
        </div>
    </form>
</div>

@code {
    [SupplyParameterFromQuery(Name = "error")] public string? _error { get; set; }

    protected override void OnInitialized()
    {
        Page.Title = "Register";
    }
}

