@page "/RegisterExternalLogin"
<PageTitle>Register an external login</PageTitle>
<Site>
    <ChildComponents>
        <Content ContentPlaceHolderID="MainContent">
            <h3>Register an external login</h3>
            <p>External login registration is not configured in this migrated sample.</p>
        </Content>
    </ChildComponents>
</Site>
