@page "/Account/RegisterExternalLogin"
@page "/RegisterExternalLogin"
<PageTitle>Register External Login</PageTitle>
<Site>
    <ChildComponents>
        <Content ContentPlaceHolderID="MainContent">
            <h3>External logins are not configured.</h3>
            <p>Please use the standard registration page instead.</p>
            <p><a href="/Account/Register">Go to Register</a></p>
        </Content>
    </ChildComponents>
</Site>
