@page "/Account/RegisterExternalLogin"
@page "/RegisterExternalLogin"
<PageTitle>Register an external login</PageTitle>

<div class="form-horizontal">
    <h3>External login is not available</h3>
    <hr />
    <p class="text-info">
        External account registration has not been migrated for this sample yet.
    </p>
    <p>
        <a href="/Account/Login">Return to login</a>
    </p>
</div>
