@page "/Account/RegisterExternalLogin"
@page "/RegisterExternalLogin"
<PageTitle>Register External Login</PageTitle>
<div class="alert alert-info">
    <h3>External Login</h3>
    <p>External login providers are not configured in this migrated application.</p>
</div>
