@page "/Account/RegisterExternalLogin"
<h3>Register with your external account</h3>

    <div class="form-horizontal">
        <h4>Association Form</h4>
        <hr />
        <ValidationSummary ShowModelStateErrors="true" CssClass="text-danger" />
        <p class="text-info">
            You've authenticated with an external provider. Please enter an email below for the current site
            and click the Log in button.
        </p>

        <div class="form-group">
            <Label AssociatedControlID="email" CssClass="col-md-2 control-label">Email</Label>
            <div class="col-md-10">
                <TextBox ID="email" CssClass="form-control" TextMode="TextBoxMode.Email" />
                <RequiredFieldValidator Type="string"
                    Display="@ValidatorDisplay.Dynamic" CssClass="text-danger" ErrorMessage="Email is required" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <Button Text="Log in" CssClass="btn btn-default" />
            </div>
        </div>
    </div>

