@page "/Account/RegisterExternalLogin"
@page "/RegisterExternalLogin"
<PageTitle>Register an external login</PageTitle>
<Site>
    <ChildComponents>
        <Content ContentPlaceHolderID="MainContent">
            <h3>External login setup is not available in this benchmark run.</h3>
            <p>Please register with an email address and password instead.</p>
            <p><a href="/Account/Register">Return to registration</a></p>
        </Content>
    </ChildComponents>
</Site>
