@page "/Account/RegisterExternalLogin"
@page "/RegisterExternalLogin"
<PageTitle>Register an external login</PageTitle>
<div class="alert alert-info">
    External login registration is not available in the migrated application.
    <a href="/Account/Register">Register with email instead</a>.
</div>
