@page "/Account/RegisterExternalLogin"
@page "/RegisterExternalLogin"
<PageTitle>Register an external login</PageTitle>

<h3>Register with your external account</h3>

    <PlaceHolder>
        <div class="form-horizontal">
            <h4>Association Form</h4>
            <hr />
            <p class="text-info">
                You've authenticated with an external provider. Please enter an email below
                and click the Log in button.
            </p>

            <div class="form-group">
                <Label CssClass="col-md-2 control-label">Email</Label>
                <div class="col-md-10">
                    <TextBox CssClass="form-control" TextMode="@TextBoxMode.Email" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <Button Text="Log in" CssClass="btn btn-default" />
                </div>
            </div>
        </div>
    </PlaceHolder>

