@page "/Account/ResetPasswordConfirmation"
@page "/ResetPasswordConfirmation"
<PageTitle>Password Changed</PageTitle>
<Site>
    <ChildComponents>
        <Content ContentPlaceHolderID="MainContent">
            <h2>Password Changed.</h2>
            <div>
                <p>Your password has been changed. Click <a href="/Account/Login">here</a> to login.</p>
            </div>
        </Content>
    </ChildComponents>
</Site>
