@page "/Account/TwoFactorAuthenticationSignIn"

<PageTitle>Two-factor authentication sign in</PageTitle>
<Site>
    <Content ContentPlaceHolderID="MainContent">
        <h1>Two-factor authentication sign in</h1>
        <p>Two-factor authentication is not implemented in the migrated benchmark sample.</p>
    </Content>
</Site>
