@page "/TwoFactorAuthenticationSignIn"
<h2>Two-Factor Authentication.</h2>
<div>
    <h4>Send verification code</h4>
    <hr />
    <p>Select Two-Factor Authentication Provider:</p>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <Button ID="SubmitBtn" Text="Submit" CssClass="btn btn-default" />
        </div>
    </div>
</div>
