@page "/TwoFactorAuthenticationSignIn"
<PageTitle>Two-Factor Authentication</PageTitle>
<Site>
    <ChildComponents>
        <Content ContentPlaceHolderID="MainContent">
            <h2>Two-Factor Authentication</h2>
            <p>Two-factor authentication is not configured in this migrated sample.</p>
        </Content>
    </ChildComponents>
</Site>
