@page "/VerifyPhoneNumber"
<h2>Verify Phone Number.</h2>
<p class="text-danger"></p>
<div class="form-horizontal">
    <div class="form-group">
        <Label ID="CodeLabel" Text="Code" CssClass="col-md-2 control-label" />
        <div class="col-md-10">
            <TextBox ID="Code" CssClass="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <Button ID="CodeBtn" Text="Submit" CssClass="btn btn-default" />
        </div>
    </div>
</div>
