@page "/Account/VerifyPhoneNumber"
<h2>@(Title).</h2>
    <p class="text-danger"></p>
    <div class="form-horizontal">
        <h4>Enter verification code</h4>
        <hr />
        <ValidationSummary CssClass="text-danger" />
        <div class="form-group">
            <Label AssociatedControlID="Code" CssClass="col-md-2 control-label">Code</Label>
            <div class="col-md-10">
                <TextBox ID="Code" CssClass="form-control" />
                <RequiredFieldValidator Type="string"
                    CssClass="text-danger" ErrorMessage="The Code field is required." />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <Button Text="Submit" CssClass="btn btn-default" />
            </div>
        </div>
    </div>

