@page "/ContosoUniversity/Home"
@page "/Home"
@page "/"
<PageTitle>Home - Contoso University</PageTitle>
@* CSS link converted from HeadContent *@
<link href="CSS/Home_CSS.css" rel="stylesheet" />

<div id="welcomeHeader">
        <h1>Welcome To Contoso University<span id="com">.com</span></h1>
        <h1>The Darkest Place In The Web...</h1>
    </div>
    <footer>
        @(DateTime.Now.Year)  - Contoso University&copy;
    </footer>
