<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/CSS_About.css" />
    <link rel="stylesheet" href="/css/CSS_Courses.css" />
    <link rel="stylesheet" href="/css/Home_CSS.css" />
    <link rel="stylesheet" href="/css/Instructors_CSS.css" />
    <link rel="stylesheet" href="/css/Master_CSS.css" />
    <link rel="stylesheet" href="/css/Students_CSS.css" />

    <HeadOutlet />
</head>

@* Generated for .NET 10 static SSR migration output. Only opt into interactive render modes deliberately and per page. *@
<body data-enhance-nav="false">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Fritz.BlazorWebFormsComponents/js/Basepage.js"></script>
</body>

</html>
