@page "/ControlSamples/RangeValidator"

<h3>Range Validator</h3>
@using BlazorWebFormsComponents.Validations;

<EditForm Model="@exampleModel" OnValidSubmit="@HandleValidSubmit">

	<label>Write a year between 1900 - 2100</label>
	<InputText id="name" @ref="Name.Current" @bind-Value="exampleModel.Name" />
	<RangeValidator ControlToValidate="@Name"
									Type="Integer"
									MinimumValue="1900"
									MaximumValue="2100"
									Text="Year must be between 1900 and 2100"
									ErrorMessage="Year must be between 1900 and 2100 but in summary!" />

	<button type="submit">Submit</button>

</EditForm>

@code {
	ForwardRef<InputBase<string>> Name = new ForwardRef<InputBase<string>>();

	private ExampleModel exampleModel = new ExampleModel();

	private void HandleValidSubmit()
	{
		Console.WriteLine("OnValidSubmit");
	}

	public class ExampleModel
	{
		public string Name { get; set; }
	}
}

<hr />

<p>Code:</p>
<code>
&lt;RangeValidator ControlToValidate="@@Name" Type="Integer" MinimumValue="1900" MaximumValue="2100" Text="Year must be between 1900 and 2100" /&gt;
</code>
