@page "/ControlSamples/RequiredFieldValidator"
@using static BlazorWebFormsComponents.WebColor
@using BlazorWebFormsComponents.Enums

<h3>Required Field Validator</h3>
@using BlazorWebFormsComponents.Validations;



<EditForm Model="@exampleModel" OnValidSubmit="@HandleValidSubmit">
	Write something
	<InputText id="name" @ref="Name.Current" @bind-Value="exampleModel.Name" />
	<RequiredFieldValidator Type="string"
													ControlRef="@Name"
													ForeColor="Red"
													Text="Name is required."
													ErrorMessage="Name is required but in summary!" />

	<InputNumber id="number" @ref="Number.Current" @bind-Value="exampleModel.Number" />
	<RequiredFieldValidator Type="int?"
													ControlRef="@Number"
													Display="ValidatorDisplay.Dynamic"
													Text="Number is required."
													ErrorMessage="Number is required but in summary!" />
	<p><em>Note:</em> The Number validator uses <code>Display="Dynamic"</code> — it collapses and takes no space when the field is valid.</p>

	<button type="submit">Submit</button>

</EditForm>



@code {
	ForwardRef<InputBase<string>> Name = new ForwardRef<InputBase<string>>();
	ForwardRef<InputBase<int?>> Number = new ForwardRef<InputBase<int?>>();

	private ExampleModel exampleModel = new ExampleModel();

	private void HandleValidSubmit()
	{
		Console.WriteLine("OnValidSubmit");
	}

	public class ExampleModel
	{
		public string Name { get; set; }
		public int? Number { get; set; }
	}
}

<hr />

<p>Code:</p>
<code>
&lt;EditForm Model="@@exampleModel" OnValidSubmit="@@HandleValidSubmit"&gt;<br />
&nbsp;&nbsp;&lt;InputText id="name" @@ref="Name.Current" @@bind-Value="exampleModel.Name" /&gt;<br />
&nbsp;&nbsp;&lt;RequiredFieldValidator Type="string" ControlRef="@@Name" ForeColor="Red" Text="Name is required." /&gt;<br />
<br />
&nbsp;&nbsp;&lt;InputNumber id="number" @@ref="Number.Current" @@bind-Value="exampleModel.Number" /&gt;<br />
&nbsp;&nbsp;&lt;RequiredFieldValidator Type="int?" ControlRef="@@Number" Display="ValidatorDisplay.Dynamic" Text="Number is required." /&gt;<br />
&nbsp;&nbsp;&lt;button type="submit"&gt;Submit&lt;/button&gt;<br />
&lt;/EditForm&gt;
</code>
