@inherits LayoutComponentBase

<HeadContent>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title></title>
    <link href="CSS/Master_CSS.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</HeadContent>

<div id="navUp">
    <h1><a href="/Home">Contoso University</a><span>.com</span></h1>
</div>
<div id="navBar">
    <ul>
        <li><a id="home" href="/Home">Home</a></li>
        <li><a id="about" href="/About">About</a></li>
        <li><a id="students" href="/Students">Students</a></li>
        <li><a id="courses" href="/Courses">Courses</a></li>
        <li><a id="instructors" href="/Instructors">Instructors</a></li>
    </ul>
</div>

@Body

