@page "/ControlSamples/GridView/Bug159Succeed"

<h2>Bug159Succeed Example</h2>

<Nav />

<GridView ItemType="Customer"
					AutogenerateColumns="false"
					DataKeyNames="CustomerID"
					SelectMethod="Customer.GetCustomers"
					EmptyDataText="No data available">
	<Columns>
		<BoundField ItemType="Customer" DataField="CustomerID" HeaderText="ID" />
		<BoundField ItemType="Customer" DataField="CompanyName" HeaderText="CompanyName" />
		<BoundField ItemType="Customer" DataField="FirstName" HeaderText="FirstName" />
		<BoundField ItemType="Customer" DataField="LastName" HeaderText="LastName" />
		<TemplateField ItemType="Customer">
			<ItemTemplate Context="Item">
				<input type="text" value="@Item.FirstName" @onchange="@((ChangeEventArgs __e) => {  ((Customer)Item).FirstName= __e.Value.ToString(); })" />
			</ItemTemplate>
		</TemplateField>
	</Columns>
</GridView>
