@page "/ControlSamples/GridView"
<h2>GridView Default Example</h2>

<Nav />

<GridView ItemType="Customer"
					AutogenerateColumns="false"
					DataKeyNames="CustomerID"
					SelectMethod="Customer.GetCustomers"
					EmptyDataText="No data available">
	<Columns>
		<BoundField ItemType="Customer" DataField="CustomerID" HeaderText="ID" />
		<BoundField ItemType="Customer" DataField="CompanyName" HeaderText="CompanyName" />
		<BoundField ItemType="Customer" DataField="FirstName" HeaderText="FirstName"/>
		<BoundField ItemType="Customer" DataField="LastName" HeaderText="LastName"/>
		<TemplateField ItemType="Customer">
			<ItemTemplate Context="Item">
				<button type="button">Click Me! @Item.FirstName</button>
			</ItemTemplate>
		</TemplateField>
	</Columns>
</GridView>

