@page "/ControlSamples/GridView/TemplateFields"

<h2>GridView Control</h2>

<Nav></Nav>

<GridView @ref="TemplateFieldGridView"
							AutogenerateColumns="false"
							ItemType="SharedSampleObjects.Models.Widget">
	<Columns>
		<TemplateField HeaderText="Name" ItemType="SharedSampleObjects.Models.Widget">
			<ItemTemplate Context="Item">
				<Label ID="lblName" Text="@Item.Name"></Label>
			</ItemTemplate>
		</TemplateField>
		<TemplateField HeaderText="Price" ItemType="SharedSampleObjects.Models.Widget">
			<ItemTemplate Context="Item">
				<Label ID="lblPrice" Text="@Item.Price"></Label>
			</ItemTemplate>
		</TemplateField>
	</Columns>
</GridView>

<Button Text="Click Me!" OnClick="@Unnamed_Click" />

@code{

		BlazorWebFormsComponents.GridView.GridView<Widget> TemplateFieldGridView { get; set; }

		private static bool PriceVisibility { get; set; } = false;

		protected override void OnAfterRender(bool firstRender)
		{

			if (firstRender)
			{
				TemplateFieldGridView.DataSource = Widget.Widgets(8);
				TemplateFieldGridView.DataBind();
			}

			base.OnAfterRender(firstRender);

		}

		protected void Unnamed_Click()
		{
			//foreach(GridViewRow row in TemplateFieldGridView.Rows)
			//{
			//	var label = row.FindControl("lblPrice") as Label;
			//	label.Visible = !PriceVisibility;
			//}
			//PriceVisibility = !PriceVisibility;
		}
}
