@page "/ControlSamples/Login"

<h3>Login</h3>
@using BlazorWebFormsComponents.Validations;
@using BlazorWebFormsComponents.LoginControls;


<Login InstructionText="How to loddddgin!!"
			 LoginButtonType="Image"
			 OnAuthenticate="OnAuthenticate"
			 OnLoggedIn="OnLoggedIn"
			 OnLoggingIn="OnLoggingIn"
			 OnLoginError="OnLoginError">
	<ChildContent>
		<InstructionTextStyle BackColor="@("#FF0000")"
													CssClass="sdd" />
		<ValidatorTextStyle ForeColor="@("#0000ff")"/>
	</ChildContent>
</Login>



@code {
	public void OnAuthenticate(AuthenticateEventArgs args)
	{
		args.Authenticated = true;
	}

	public void OnLoggedIn(EventArgs args)
	{

	}

	public void OnLoginError(EventArgs args)
	{

	}

	public void OnLoggingIn(LoginCancelEventArgs args)
	{
		args.Cancel = true;
	}
}
