@page "/ControlSamples/Login"

<h3>Login</h3>
@using BlazorWebFormsComponents.Validations;
@using BlazorWebFormsComponents.LoginControls;


<Login InstructionText="How to Login!!">
	<ChildContent>
		<InstructionTextStyle BackColor="@("#FF0000")"
													CssClass="sdd" />
		<ValidatorTextStyle ForeColor="@("#0000ff")" />
	</ChildContent>
</Login>



@code
{

}
