@page "/ControlSamples/Login"

<h3>Login</h3>
@using BlazorWebFormsComponents.Validations;


<BlazorWebFormsComponents.LoginControls.Login InstructionText="How to loddddgin!!">
	<ChildContent>
		<BlazorWebFormsComponents.LoginControls.InstructionTextStyle BackColor="@("FF0000")" CssClass="sdd" ></BlazorWebFormsComponents.LoginControls.InstructionTextStyle>
	</ChildContent>
</BlazorWebFormsComponents.LoginControls.Login>



@code {

}
