@page "/ControlSamples/TreeView/XmlDataSource"
@using static BlazorWebFormsComponents.Enums.TreeNodeTypes

<h2>TreeView XML Data Source Sample</h2>

<p>
	This sample shows binding the TreeView to an XML Document.  In Blazor, we do not
	support XmlDataSource, but rather allow you to DataBind to an XmlDocument object.
</p>

<TreeView @ref="BookTreeView"
					DataSource="bookXml"
					runat="server">

	<DataBindings>
		<TreeNodeBinding DataMember="Book" TextField="Title" />
		<TreeNodeBinding DataMember="Chapter" TextField="Heading" />
		<TreeNodeBinding DataMember="Section" TextField="Heading" />
	</DataBindings>

</TreeView>

@code {

	TreeView BookTreeView;
	System.Xml.XmlDocument bookXml = new System.Xml.XmlDocument();

	protected override void OnInitialized()
	{

		bookXml.LoadXml(@"<Book Title=""Book Title"">
											<Chapter Heading=""Chapter 1"">
												<Section Heading=""Section 1"">
												</Section>
												<Section Heading=""Section 2"">
												</Section>
											</Chapter>
											<Chapter Heading=""Chapter 2"">
												<Section Heading=""Section 1"">
												</Section>
											</Chapter>
											</Book>");

		base.OnInitialized();
	}

}
