@page "/Login"
<WebFormsForm @formname="LoginForm">
    <AntiforgeryToken />
<PageTitle>Loan Portal Sign-In</PageTitle>

    <table>
        <tr>
            <td style="padding: 20px;">
                <table style="border: 1px solid #8ea7c2; background: #f7f9fc;" cellpadding="6">
                    <tr>
                        <td style="background: #d1d9e5; font-weight: bold; color: #1f3f68;">Loan Portal Authentication</td>
                    </tr>
                    <tr>
                        <td>
                            <span>@_lblMessage_Text</span>
                            <br />
                            <br />
                            <HyperLink id="lnkAuthGateway" @ref="lnkAuthGateway" Text="Go to ZavaAuthGateway Login" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>


</WebFormsForm>
