@page "/ControlSamples/LinkButton"

<h2>LinkButton Component / Basic LinkButton Sample</h2>

<Nav></Nav>

<LinkButton CommandName="Foo" CommandArgument="bar1" OnCommand="OnCommand" Text="LinkButton1 with Command" />
<br />
<LinkButton CommandName="Foo" CommandArgument="bar2" OnCommand="OnCommand" Text="LinkButton2 with Command" />
<br />
<LinkButton OnClick="OnClick" Text="Click me!!" PostBackUrl="ControlSamples/LinkButton/#" />
<br />
<LinkButton CommandName="Foo" CommandArgument="bar3" OnCommand="OnCommand" OnClick="OnClick" Text="BlazorWebFormsComponents" PostBackUrl="https://github.com/FritzAndFriends/BlazorWebFormsComponents" />
<br />
<p style="font-weight: bold">@ContentMessage<br />@CommandMessage</p>

@code {
	[Parameter]
	public string ContentMessage { get; set; } = "Not clicked yet!";

	[Parameter]
	public string CommandMessage { get; set; } = "No command fired!";

	public string bar1 = "Bar 1";
	public string bar2 = "Bar 2";
	public string bar3 = "Bar 3";

	void OnClick()
	{
		ContentMessage = "I've been clicked";
	}

	void OnCommand(CommandEventArgs args)
	{
		Console.WriteLine("Command fired");
		CommandMessage = $"Command '{args.CommandName}', Argument '{args.CommandArgument}'";
	}
}

<hr />

<p>Code:</p>
<code>
&lt;LinkButton CommandName="Foo" CommandArgument="bar" OnCommand="OnCommand" Text="LinkButton with Command" /&gt;<br />
&lt;LinkButton OnClick="OnClick" Text="Click me!!" PostBackUrl="ControlSamples/LinkButton/#" /&gt;
</code>
