@page "/ControlSamples/LinkButton"

<h2>LinkButton Component / Basic LinkButton Sample</h2>

<Nav></Nav>

<div data-audit-control="LinkButton-1">
    <LinkButton OnClick="OnClick" Text="Click Me" CssClass="btn btn-primary" />
</div>
<br />
<div data-audit-control="LinkButton-2">
    <LinkButton OnClick="OnClick" Text="Submit Form" />
</div>
<br />
<div data-audit-control="LinkButton-3">
    <LinkButton Text="Disabled Link" Enabled="false" />
</div>
<br />
<LinkButton OnClick="OnClick" Text="BlazorWebFormsComponents" PostBackUrl="https://github.com/FritzAndFriends/BlazorWebFormsComponents" />
<br />
<p style="font-weight: bold">@ContentMessage</p>

@code {
	[Parameter]
	public string ContentMessage { get; set; } = "Not clicked yet!";

	void OnClick()
	{
		ContentMessage = "I've been clicked";
	}
}

<hr />

<p>Code:</p>
<code>
&lt;LinkButton CommandName="Foo" CommandArgument="bar" OnCommand="OnCommand" Text="LinkButton with Command" /&gt;<br />
&lt;LinkButton OnClick="OnClick" Text="Click me!!" PostBackUrl="ControlSamples/LinkButton/#" /&gt;
</code>
