@page "/ControlSamples/Literal"

@using BlazorWebFormsComponents.Enums

<h2>Literal Component</h2>

<Literal Mode="LiteralMode.PassThrough" Text="<b>Literal</b>"></Literal><br/>
<Literal Text="<b>Literal</b>"></Literal>

<hr/>

 <p>
Code:
</p>
<code>
&lt;Literal Mode="LiteralMode.PassThrough" Text="&lt;b&gt;Literal&lt;/b&gt;"&gt;&lt;/Literal&gt;
<br/>
&lt;Literal Text="&lt;b&gt;Literal&lt;/b&gt;"&gt;&lt;/Literal&gt;
</code>
