@page "/ControlSamples/Literal"

@using BlazorWebFormsComponents.Enums

<h2>Literal Component</h2>

<div data-audit-control="Literal-1">
    <Literal Mode="LiteralMode.PassThrough" Text="This is <b>literal</b> content."></Literal>
</div>
<br/>
<div data-audit-control="Literal-2">
    <Literal Mode="LiteralMode.Encode" Text="This is <b>encoded</b> content."></Literal>
</div>
<br/>
<div data-audit-control="Literal-3">
    <Literal Text="Simple text content"></Literal>
</div>

<hr/>

 <p>
Code:
</p>
<code>
&lt;Literal Mode="LiteralMode.PassThrough" Text="This is &lt;b&gt;literal&lt;/b&gt; content."&gt;&lt;/Literal&gt;
<br/>
&lt;Literal Mode="LiteralMode.Encode" Text="This is &lt;b&gt;encoded&lt;/b&gt; content."&gt;&lt;/Literal&gt;
</code>
