@page "/ControlSamples/FormView/Edit"

<h2>FormView With Edit Capabilities</h2>

<p>This is a FormView with Edit capabilities</p>

<FormView @ref="WidgetFormView"
							AllowPaging="true"
							DataKeyNames="Id"
							OnPageIndexChanging="WidgetFormView_PageIndexChanging"
							ItemType="Widget" Context="Item"
							runat="server">

	<ItemTemplate>
		<table>
			<tr>
				<td>

					<h3>@Item.Name&nbsp;@Item.Price.ToString("C")  &nbsp;&nbsp;(@Item.Id)</h3>

				</td>
			</tr>
			<tr>
				<td>
					<Button CommandName="Edit" Text="Edit"/>
				</td>
			</tr>
		</table>

	</ItemTemplate>

	<EditItemTemplate>
		<table>
			<tr>
				<td>Name:</td><td><input @bind="Item.Name" /></td>
			</tr>
			<tr>
				<td>Price:</td><td><input @bind="Item.Price" /></td>
			</tr>
			<tr>
				<td>
					<Button Text="Update" CommandName="Update" />&nbsp;
					<Button Text="Cancel" CommandName="Cancel" />
				</td>
			</tr>
		</table>
	</EditItemTemplate>

</FormView>
@code {

	protected FormView<Widget> WidgetFormView;

	protected override Task OnAfterRenderAsync(bool firstRender)
	{

		if (firstRender)
			WidgetFormView.Items = Widget.SimpleWidgetList;

		return base.OnAfterRenderAsync(firstRender);

	}

}
