<div>
	Other usage samples:
	<NavLink href="./ControlSamples/FormView/Simple" class="component-link" Match="NavLinkMatch.All">Simple FormView </NavLink> |
	<NavLink href="./ControlSamples/FormView/Edit" class="component-link" Match="NavLinkMatch.All">Editable Form</NavLink> |
</div>
