@inherits TestComponentBase

<Fixture
	Test="FirstTest"
>
<ComponentUnderTest>
	<ListView Items="Widget.SimpleWidgetList"
						ItemType="Widget"
						Context="Item">
		<ItemTemplate><span>@Item.Name</span></ItemTemplate>
	</ListView>
</ComponentUnderTest>
<Fragment>
	<span>First Widget</span>
	<span>Second Widget</span>
	<span>Third Widget</span>
</Fragment>
</Fixture>


@code {

	void FirstTest(IRazorTestContext context)
	{

		var cut = context.GetComponentUnderTest();
		var expected = context.GetFragment();

		cut.FindAll("span").Count().ShouldBe(3);

	}


}