@page "/ControlSamples/TreeView"
@using static BlazorWebFormsComponents.Enums.TreeNodeTypes

<h2>TreeView Component homepage</h2>

<p>Here is a simple static tree view</p>

<div data-audit-control="TreeView">
    <TreeView ID="SampleTreeView" runat="server"
	OnTreeNodeCheckChanged="CheckChanged"
	ShowCheckBoxes="Root|Parent">
	<Nodes>
		<TreeNode Value="Home"
							NavigateUrl="/"
							Text="Home"
							Target="Content"
							Expanded="true">
			<TreeNode Value="Foo" Text="Foo"></TreeNode>
			<TreeNode Value="Bar" Text="Bar">
				<TreeNode Value="Baz" Text="Baz">
					<TreeNode Value="BlazorMisterMagoo" Text="BlazorMisterMagoo">

					</TreeNode>
				</TreeNode>
			</TreeNode>
		</TreeNode>
	</Nodes>
    </TreeView>
</div>

Checkboxes clicked:  @clickCount

@code {

	public int clickCount { get; set; } = 0;

	private void CheckChanged(TreeNodeEventArgs args) {

		clickCount++;
		base.StateHasChanged();

	}

}

<hr />

<p>Code:</p>
<code>
&lt;TreeView ID="SampleTreeView" ShowCheckBoxes="Root|Parent"&gt;<br />
&nbsp;&nbsp;&lt;Nodes&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;TreeNode Value="Home" NavigateUrl="/" Text="Home" Expanded="true"&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;TreeNode Value="Foo" Text="Foo"&gt;&lt;/TreeNode&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;TreeNode Value="Bar" Text="Bar"&gt;...&lt;/TreeNode&gt;<br />
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/TreeNode&gt;<br />
&nbsp;&nbsp;&lt;/Nodes&gt;<br />
&lt;/TreeView&gt;
</code>
