@page "/ControlSamples/ListView"

<h2>ListView Component homepage</h2>

<p>Here is a simple listview bound to a collection of widgets.</p>

<ListView @ref="simpleListView"
          runat="server"
          ItemType="SharedSampleObjects.Models.Widget"
          Items="Widget.SimpleWidgetList">
    <LayoutTemplate>
        <table>
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Price</td>
                    <td>Last Update</td>
                </tr>
            </thead>
            <tbody>
                <tr runat="server" id="itemPlaceHolder"></tr>
            </tbody>
        </table>
    </LayoutTemplate>
    <ItemTemplate Context="Item">
        <tr>
            <td>@Item.Id</td>
            <td>@Item.Name</td>
            <td>@Item.Price.ToString("c")</td>
            <td>@Item.LastUpdate.ToString("d")</td>
        </tr>
    </ItemTemplate>
</ListView>

@code {

  BlazorWebFormsComponents.ListView<Widget> simpleListView { get; set; }

  protected override void OnAfterRender(bool firstRender)
  {

      simpleListView.DataSource = Widget.SimpleWidgetList;
      simpleListView.DataBind();

      base.OnAfterRender(firstRender);

  }

}

