@inherits BaseWebFormsComponent
@using BlazorWebFormsComponents.Enums

<div style="@(CalculatedStyle + (IsValid ? null : "display:none;"))">
	@if (IsValid)
	{
		@switch (DisplayMode)
		{
			case BulletListDisplayMode b:
				<ul>
					@foreach (var message in CurrentEditContext.GetValidationMessages())
					{
						<li>@message.Split(',')[1]</li>
					}
				</ul>
				break;
			case ListDisplayMode l:
				@foreach (var message in CurrentEditContext.GetValidationMessages())
				{
					@message.Split(',')[1]
					<br>
				}
				break;
			case SingleParagraphDisplayMode s:
				@string.Join(" ", CurrentEditContext.GetValidationMessages().Select(m => m.Split(',')[1]))
				break;
		}
	}
</div>
