@inherits BaseStyledComponent
@typeparam Type

@if (Enabled && Visible)
{
	<span style="@($"{DisplayStyle}{CalculatedStyle}")" title="@ToolTip">
		@if (string.IsNullOrWhiteSpace(Text))
		{
			@ErrorMessage
		}
		else
		{
			@Text
		}
	</span>
}
