@inherits BaseWebFormsComponent
@typeparam Type

@if (Enabled && Visible && !IsValid)
{
	<span style="@CalculatedStyle">
		@if (string.IsNullOrWhiteSpace(Text))
		{
			@ErrorMessage
		}
		else
		{
			@Text
		}
	</span>
}
