@using BlazorWebFormsComponents.Enums
@inherits BlazorWebFormsTestContext

@code {

	[Fact]
	public void Wizard_OnActiveStepChanged_StepChanges_Fires()
	{
		var activeStepChangedCount = 0;
		var cut = Render(
			@<Wizard ActiveStepIndex="0" OnActiveStepChanged="(_) => activeStepChangedCount++">
				<WizardSteps>
					<WizardStep Title="Step 1">
						<p>Step 1 Content</p>
					</WizardStep>
					<WizardStep Title="Step 2">
						<p>Step 2 Content</p>
					</WizardStep>
					<WizardStep Title="Finish" StepType="WizardStepType.Finish">
						<p>Finish Content</p>
					</WizardStep>
				</WizardSteps>
			</Wizard>
		);

		cut.Find("input[value='Next']").Click();

		activeStepChangedCount.ShouldBe(1);
		cut.Markup.ShouldContain("Step 2 Content");
	}

	[Fact]
	public void Wizard_OnPreviousButtonClick_PreviousClicked_Fires()
	{
		WizardNavigationEventArgs? receivedArgs = null;
		var cut = Render(
			@<Wizard ActiveStepIndex="1" OnPreviousButtonClick="(args) => receivedArgs = args">
				<WizardSteps>
					<WizardStep Title="Step 1">
						<p>Step 1 Content</p>
					</WizardStep>
					<WizardStep Title="Step 2">
						<p>Step 2 Content</p>
					</WizardStep>
					<WizardStep Title="Finish" StepType="WizardStepType.Finish">
						<p>Finish Content</p>
					</WizardStep>
				</WizardSteps>
			</Wizard>
		);

		cut.Find("input[value='Previous']").Click();

		receivedArgs.ShouldNotBeNull();
		receivedArgs.CurrentStepIndex.ShouldBe(1);
		receivedArgs.NextStepIndex.ShouldBe(0);
		cut.Markup.ShouldContain("Step 1 Content");
	}

	[Fact]
	public void Wizard_OnCancelButtonClick_CancelClicked_Fires()
	{
		var cancelClickCount = 0;
		var cut = Render(
			@<Wizard ActiveStepIndex="0" DisplayCancelButton="true" OnCancelButtonClick="(_) => cancelClickCount++">
				<WizardSteps>
					<WizardStep Title="Step 1">
						<p>Step 1 Content</p>
					</WizardStep>
					<WizardStep Title="Step 2">
						<p>Step 2 Content</p>
					</WizardStep>
				</WizardSteps>
			</Wizard>
		);

		cut.Find("input[value='Cancel']").Click();

		cancelClickCount.ShouldBe(1);
		cut.Markup.ShouldContain("Step 1 Content");
	}

	[Fact]
	public void Wizard_OnSideBarButtonClick_SidebarLinkClicked_Fires()
	{
		WizardNavigationEventArgs? receivedArgs = null;
		var cut = Render(
			@<Wizard ActiveStepIndex="0" DisplaySideBar="true" OnSideBarButtonClick="(args) => receivedArgs = args">
				<WizardSteps>
					<WizardStep Title="Step 1">
						<p>Step 1 Content</p>
					</WizardStep>
					<WizardStep Title="Step 2">
						<p>Step 2 Content</p>
					</WizardStep>
					<WizardStep Title="Finish" StepType="WizardStepType.Finish">
						<p>Finish Content</p>
					</WizardStep>
				</WizardSteps>
			</Wizard>
		);

		cut.FindAll("a").First(a => a.TextContent.Contains("Step 2")).Click();

		receivedArgs.ShouldNotBeNull();
		receivedArgs.CurrentStepIndex.ShouldBe(0);
		receivedArgs.NextStepIndex.ShouldBe(1);
		cut.Markup.ShouldContain("Step 2 Content");
	}

	[Fact]
	public void Wizard_ProgrammaticActiveStepIndexChange_TriggersActiveStepIndexChanged()
	{
		var activeStepChangedCount = 0;
		var cut = Render(
			@<Wizard ActiveStepIndex="0" ActiveStepIndexChanged="(_) => { }" OnActiveStepChanged="(_) => activeStepChangedCount++">
				<WizardSteps>
					<WizardStep Title="Step 1"><p>Step 1</p></WizardStep>
					<WizardStep Title="Step 2"><p>Step 2</p></WizardStep>
					<WizardStep Title="Step 3"><p>Step 3</p></WizardStep>
				</WizardSteps>
			</Wizard>
		);

		activeStepChangedCount.ShouldBe(0);

		// Programmatically navigate via MoveTo
		var wizard = cut.FindComponent<Wizard>().Instance;
		wizard.MoveTo(2).GetAwaiter().GetResult();

		activeStepChangedCount.ShouldBe(1);
		cut.Markup.ShouldContain("Step 3");
	}

}
