@inherits BlazorWebFormsTestContext

@code {

	[Fact(Skip = "Wizard does not yet support this")]
	public void Wizard_SingleStepWizard_RendersWithoutNavigationButtons()
	{
	}

	[Fact]
	public void Wizard_WithManySteps_RendersSidebarForAllSteps()
	{
		var cut = Render(
			@<Wizard ActiveStepIndex="0" DisplaySideBar="true">
				<WizardSteps>
					<WizardStep Title="Step 1"><p>Step 1 Content</p></WizardStep>
					<WizardStep Title="Step 2"><p>Step 2 Content</p></WizardStep>
					<WizardStep Title="Step 3"><p>Step 3 Content</p></WizardStep>
					<WizardStep Title="Step 4"><p>Step 4 Content</p></WizardStep>
					<WizardStep Title="Step 5"><p>Step 5 Content</p></WizardStep>
					<WizardStep Title="Step 6"><p>Step 6 Content</p></WizardStep>
					<WizardStep Title="Step 7"><p>Step 7 Content</p></WizardStep>
					<WizardStep Title="Step 8"><p>Step 8 Content</p></WizardStep>
					<WizardStep Title="Step 9"><p>Step 9 Content</p></WizardStep>
					<WizardStep Title="Step 10"><p>Step 10 Content</p></WizardStep>
					<WizardStep Title="Step 11"><p>Step 11 Content</p></WizardStep>
				</WizardSteps>
			</Wizard>
		);

		cut.FindAll("a").Count.ShouldBe(10);
		cut.FindAll("span").Count.ShouldBe(1);
		cut.Markup.ShouldContain("Step 11");
	}

	[Fact]
	public void Wizard_NullTitleStep_UsesGeneratedSidebarTitle()
	{
		var cut = Render(
			@<Wizard ActiveStepIndex="1" DisplaySideBar="true">
				<WizardSteps>
					<WizardStep Title="@((string)null)">
						<p>First Content</p>
					</WizardStep>
					<WizardStep Title="Step 2">
						<p>Second Content</p>
					</WizardStep>
				</WizardSteps>
			</Wizard>
		);

		cut.FindAll("a").Single().TextContent.ShouldBe("Step 1");
	}

	[Fact]
	public void Wizard_EmptyTitleStep_RendersEmptySidebarText()
	{
		var cut = Render(
			@<Wizard ActiveStepIndex="1" DisplaySideBar="true">
				<WizardSteps>
					<WizardStep Title="">
						<p>First Content</p>
					</WizardStep>
					<WizardStep Title="Step 2">
						<p>Second Content</p>
					</WizardStep>
				</WizardSteps>
			</Wizard>
		);

		cut.FindAll("a").Single().TextContent.ShouldBeEmpty();
	}

	[Fact(Skip = "Wizard does not yet support this")]
	public void Wizard_DynamicStepsAddedOrRemoved_UpdatesRegisteredSteps()
	{
	}

}
