@page "/Login"
<h2>@(Title).</h2>

    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                <div class="form-horizontal">
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    <PlaceHolder ID="ErrorMessage" Visible="@_errorVisible">
                        <p class="text-danger">
                            <Literal ID="FailureText" Text="@_failureText" />
                        </p>
                    </PlaceHolder>
                    <div class="form-group">
                        <Label AssociatedControlID="Email" CssClass="col-md-2 control-label">Email</Label>
                        <div class="col-md-10">
                            <TextBox ID="Email" @bind-Text="_email" CssClass="form-control" TextMode="TextBoxMode.Email" />
                            <RequiredFieldValidator Type="string"
                                CssClass="text-danger" ErrorMessage="The email field is required." />
                        </div>
                    </div>
                    <div class="form-group">
                        <Label AssociatedControlID="Password" CssClass="col-md-2 control-label">Password</Label>
                        <div class="col-md-10">
                            <TextBox ID="Password" @bind-Text="_password" TextMode="TextBoxMode.Password" CssClass="form-control" />
                            <RequiredFieldValidator Type="string" CssClass="text-danger" ErrorMessage="The password field is required." />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                <CheckBox ID="RememberMe" />
                                <Label AssociatedControlID="RememberMe">Remember me?</Label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <Button OnClick="LogIn" Text="Log in" CssClass="btn btn-default" />
                        </div>
                    </div>
                </div>
                <p>
                    <HyperLink ID="RegisterHyperLink" NavigateUrl="/Account/Register">Register as a new user</HyperLink>
                </p>
                <p>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                    <HyperLink ID="ForgotPasswordHyperLink">Forgot your password?</HyperLink>
                    *@
                </p>
            </section>
        </div>

        <div class="col-md-4">
            <section id="socialLoginForm">
                <OpenAuthProviders ID="OpenAuthLogin" />
            </section>
        </div>
    </div>

