@page "/ManageLogins"
<h2>Manage your external logins.</h2>
    <PlaceHolder ID="successMessage" Visible="false">
            <p class="text-success">@* TODO: Server-side expression - SuccessMessage *@</p>
        </PlaceHolder>
    <div>
        <section id="externalLoginsForm">

            <ListView
                ItemType="WingtipToys.Models.UserLoginInfo" DataKeyNames="LoginProvider,ProviderKey">
@* TODO: Replace SelectMethod="GetLogins" with Items="@_data" parameter on this BWFC data control. Load _data in OnInitializedAsync: _data = await yourDbContext.YourEntities.ToListAsync(); *@

                <LayoutTemplate>
                    <h4>Registered Logins</h4>
                    <table class="table">
                        <tbody>
                            <tr id="itemPlaceholder"></tr>
                        </tbody>
                    </table>

                </LayoutTemplate>
                <ItemTemplate>
                    <tr>
                        <td>@context.LoginProvider</td>
                        <td>
                            <Button Text="Remove" CommandName="Delete" CausesValidation="false"
                                CssClass="btn btn-default" />
                        </td>
                    </tr>
                </ItemTemplate>
            </ListView>

        </section>
    </div>
    <div>
        <OpenAuthProviders ReturnUrl="~/Account/ManageLogins" />
    </div>

