@page "/ResetPasswordConfirmation"
<h2>@(Title).</h2>
    <div>
        <p>Your password has been changed. Click <HyperLink ID="login" NavigateUrl="/Account/Login">here</HyperLink> to login </p>
    </div>

