@using static BlazorWebFormsComponents.DataBinder

@code {

	[Fact]
	public void DataBinder_Eval_SimpleListView_RendersFormattedValues()
	{
		var cut = Render(
			@<ListView Items="Widget.SimpleWidgetList"
							ItemType="Widget">
				<ItemTemplate><span>@Eval("Name")</span><span>@Eval("Price", "{0:C}")</span></ItemTemplate>
			</ListView>
		);

		var spans = cut.FindAll("span");

		var theWidget = Widget.SimpleWidgetList[0];

		spans[0].TextContent.ShouldBe(theWidget.Name);
		spans[1].TextContent.ShouldBe(theWidget.Price.ToString("C"));
	}

}
