<div>
	Other usage samples:
	<NavLink href="/ControlSamples/DataList" class="component-link" Match="NavLinkMatch.All">Simple Table</NavLink> |
	<NavLink href="/ControlSamples/DataList/Flow" class="component-link" Match="NavLinkMatch.All">Simple Flow</NavLink> |
	<NavLink href="/ControlSamples/DataList/HeaderStyle" class="component-link" Match="NavLinkMatch.All">Header Style</NavLink> |
	<NavLink href="/ControlSamples/DataList/ComplexStyle" class="component-link" Match="NavLinkMatch.All">Complex Style</NavLink>
</div>