<div>
    Other usage samples: 
    <NavLink href="/ControlSamples/DataList" Match="NavLinkMatch.All">Simple Table</NavLink> | 
    <NavLink href="/ControlSamples/DataList/Flow" Match="NavLinkMatch.All">Simple Flow</NavLink>
</div>