@page "/ControlSamples/DataList/Flow"

<h2>DataList Simple Flow Layout Sample</h2>

<Nav />

<p>Here is a simple datalist bound to a collection of widgets in Flow layout mode.</p>

		<DataList @ref="simpleDataList"
							runat="server"
							EnableViewState="false"
              RepeatLayout="Flow"
							Context="Item"
							ItemType="SharedSampleObjects.Models.Widget">
            <HeaderTemplate>Simple Widgets</HeaderTemplate>
			<ItemTemplate>
                    @Item.Name - @Item.Price.ToString("c")
			</ItemTemplate>
		</DataList>

@code {

  BlazorWebFormsComponents.DataList<Widget> simpleDataList { get; set; }

  protected override void OnAfterRender(bool firstRender)
  {

      if (firstRender)
      {
          simpleDataList.DataSource = Widget.SimpleWidgetList;
          simpleDataList.DataBind();
      }

      //base.OnParametersSet();
      base.OnAfterRender(firstRender);

  }

}

