@page "/Account/AddPhoneNumber"
@rendermode InteractiveServer

<h2>Add Phone Number.</h2>
<p>Enter a phone number.</p>
<p class="text-success">@statusMessage</p>
<div class="form-horizontal">
    <div class="form-group">
        <Label ID="PhoneNumber" Text="Phone Number" CssClass="col-md-2 control-label" />
        <div class="col-md-10">
            <TextBox ID="Phone" CssClass="form-control" TextMode="@TextBoxMode.Phone"
                     Text="@phoneNumber" TextChanged="@(v => phoneNumber = v)" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <Button ID="PhoneNumber_ClickBtn" Text="Submit" CssClass="btn btn-default" OnClick="HandleSubmit" />
        </div>
    </div>
</div>
