@page "/ControlSamples/LoginName"

<h3>LoginName</h3>
@using BlazorWebFormsComponents.Validations;
@using BlazorWebFormsComponents.LoginControls;


<div data-audit-control="LoginName-1">
<LoginName BackColor="@("#FFFFFF")"
					 FormatString="The name is {0}!" />
</div>



@code
{
		protected override void OnInitialized()
		{

			StaticAuthStateProvider.Login("James Bond");

			base.OnInitialized();

		}
}

<hr />

<p>Code:</p>
<code>
&lt;LoginName BackColor="@@("#FFFFFF")" FormatString="The name is {0}!" /&gt;
</code>
