@page "/ControlSamples/LoginName"

<h3>LoginName</h3>
@using BlazorWebFormsComponents.Validations;
@using BlazorWebFormsComponents.LoginControls;


<LoginName BackColor="@("#FFFFFF")"
					 FormatString="The name is {0}!" />



@code
{
		protected override void OnInitialized()
		{

			StaticAuthStateProvider.Login("James Bond");

			base.OnInitialized();

		}
}
